<template>
  <q-page class="">
    <q-list separator role="menu">
      <template v-for="topic in topics" :key="topic.id">
        <TopicItem
          role="menuitem"
          :data="topic"
          @click="$router.push({ name: 'topic', params: { id: topic.id } })"
        />
      </template>
    </q-list>
  </q-page>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import TopicItem from "components/TopicItem.vue";
import { useContentStore } from "src/stores/ContentStore";

const route = useRoute();
const router = useRouter();
const contentStore = useContentStore();
const topics = contentStore.getTopics(route.params.id);
</script>
