<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <q-page>
        <q-scroll-observer @scroll="onScroll" />
        <!-- Top menu -->
        <div class="q-px-md q-pt-md q-pb-sm top" id="top">
          <!-- Menu section -->
          <section class="master-menu section shadow-2">
            <h2 class="text-h6 q-my-none">Categories</h2>
            <p class="text-body2">
              Total resource in all 6 categories:
              <span class="text-bold">{{ resources.length }}</span>
            </p>

            <q-btn
              align="left"
              class="full-width q-mb-sm category-c1 text-white"
              style="text-transform: none"
              label="1. Exploring a Career"
              @click="$router.replace({ hash: '#section1' })"
            />
            <q-btn
              align="left"
              class="full-width q-mb-sm category-c2 text-white"
              style="text-transform: none"
              label="2. Filling Out the Paperwork"
              @click="$router.replace({ hash: '#section2' })"
            />
            <q-btn
              align="left"
              class="full-width q-mb-sm category-c3 text-white"
              style="text-transform: none"
              label="3. Starting Your Job Search"
              @click="$router.replace({ hash: '#section3' })"
            />
            <q-btn
              align="left"
              class="full-width q-mb-sm category-c4 text-white"
              style="text-transform: none"
              label="4. Interviewing for a Job"
              @click="$router.replace({ hash: '#section4' })"
            />
            <q-btn
              align="left"
              class="full-width q-mb-sm category-c5 text-white"
              style="text-transform: none"
              label="5. Evaluating and Accepting a Job Offer"
              @click="$router.replace({ hash: '#section5' })"
            />
            <q-btn
              align="left"
              class="full-width q-mb-sm category-c6 text-white"
              style="text-transform: none"
              label="6. Keeping a Job"
              @click="$router.replace({ hash: '#section6' })"
            />
          </section>
        </div>

        <!-- Resources -->
        <ResourceReview
          id="section1"
          :resources="resourcesCat1"
          bgClass="category-c1"
          number="1"
          title="Exploring a Career"
        />
        <ResourceReview
          id="section2"
          :resources="resourcesCat2"
          bgClass="category-c2"
          number="2"
          title="Filling Out the Paperwork"
        />
        <ResourceReview
          id="section3"
          :resources="resourcesCat3"
          bgClass="category-c3"
          number="3"
          title="Starting Your Job Search"
        />
        <ResourceReview
          id="section4"
          :resources="resourcesCat4"
          bgClass="category-c4"
          number="4"
          title="Interviewing for a Job"
        />
        <ResourceReview
          id="section5"
          :resources="resourcesCat5"
          bgClass="category-c5"
          number="5"
          title="Evaluating and Accepting a Job Offer"
        />
        <ResourceReview
          id="section6"
          :resources="resourcesCat6"
          bgClass="category-c6"
          number="6"
          title="Keeping a Job"
        />

        <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <q-page-sticky
            position="bottom-right"
            :offset="[15, 15]"
            v-if="scrollTop > 400"
          >
            <q-btn
              fab
              icon="arrow_upward"
              color="primary"
              class="shadow-4"
              aria-label="Back to top"
              @click="$router.replace({ hash: '#top' })"
            />
          </q-page-sticky>
        </transition>
      </q-page>
    </q-page-container>
    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { ref } from "vue";
import { useContentStore } from "stores/ContentStore";
import ResourceReview from "components/ResourceReview.vue";
import TheFooter from "components/TheFooter.vue";

const contentStore = useContentStore();
const resources = contentStore.data.resources;

// Resources by category
const resourcesCat1 = contentStore.getResourcesFromCategory("c1");
const resourcesCat2 = contentStore.getResourcesFromCategory("c2");
const resourcesCat3 = contentStore.getResourcesFromCategory("c3");
const resourcesCat4 = contentStore.getResourcesFromCategory("c4");
const resourcesCat5 = contentStore.getResourcesFromCategory("c5");
const resourcesCat6 = contentStore.getResourcesFromCategory("c6");

// Scroll details
const scrollInfo = ref({});
const scrollTop = ref(0);

function onScroll(info) {
  scrollInfo.value = info;
  scrollTop.value = info.position.top;
}
</script>
