<template>
  <q-layout view="hHh LpR fFf">
    <q-header bordered class="home-header" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <img
            class="logo q-pt-md"
            src="/images/logo-home.png"
            style="width: clamp(300px, 100%, 600px)"
            alt="eTrac for just in time learning"
          />
        </q-toolbar-title>
      </q-toolbar>
      <HomeSearchBar
        class="q-mx-md q-mt-xs q-mb-md"
        @click="$router.push({ name: 'Search' })"
      />
    </q-header>

    <q-page-container>
      <q-page class="q-pl-md q-pr-md">
        <h2 class="text-h6 text-weight-medium q-mt-none q-mb-sm q-pt-md">
          Browse by category
        </h2>
        <div role="menu" class="category-grid">
          <CategoryButton
            role="menuitem"
            v-for="category in contentStore.data.categories"
            :key="category.id"
            :data="category"
            class="q-mb-md q-ml-auto q-mr-auto"
            @click="
              $router.push({ name: 'category', params: { id: category.id } })
            "
          />
        </div>
      </q-page>
    </q-page-container>

    <TheFooter tab="home" />
  </q-layout>
</template>

<script setup>
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import HomeSearchBar from "components/HomeSearchBar.vue";
import CategoryButton from "components/CategoryButton.vue";
import TheFooter from "components/TheFooter.vue";
import { useContentStore } from "stores/ContentStore";

const tab = ref("home");
const route = useRoute();
const router = useRouter();
const contentStore = useContentStore();
</script>
