<template>
  <q-page>
    <transition name="switch" mode="out-in">
      <q-list separator v-if="userLikes">
        <transition-group name="list" appear>
          <template v-for="item in userLikes" :key="item.id">
            <ResourceItem
              :id="item.id"
              :deletable="true"
              :showBorder="true"
              @deleteLike="handleDelete(item.id)"
              @click="handleNavigation(item.id, $event)"
            />
          </template>
        </transition-group>
      </q-list>
    </transition>
    <div v-if="userLikes.length == 0" class="q-pt-xl q-px-xl text-center">
      <p class="text-h5">You have not liked any resources.</p>
      <p class="text-body1">
        Any resources that you like will appear in a list here.
      </p>
    </div>

    <q-dialog
      v-model="confirm"
      persistent
      transition-show="none"
      transition-hide="none"
    >
      <q-card>
        <q-card-section class="row items-center">
          <p class="text-h6">Remove item</p>
          <p class="text-body1 q-pb-none q-mb-none">
            Are you sure you want to remove this item from your list?
          </p>
        </q-card-section>
        <q-separator />
        <q-card-section class="q-py-none">
          <ResourceItem :id="confirmId" :noPadding="true" :showLike="false"
        /></q-card-section>

        <q-separator />

        <q-card-actions align="right" class="q-py-md">
          <q-btn flat label="Cancel" class="q-mr-md" v-close-popup />
          <q-btn
            label="Yes, remove"
            style="padding: 0 14px"
            color="negative"
            @click="confirmDelete()"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup>
import { computed, ref } from "vue";
import { useRouter } from "vue-router";
import { useContentStore } from "stores/ContentStore";
import { useLikesStore } from "src/stores/LikesStore";
import { useQuasar } from "quasar";
import ResourceItem from "components/ResourceItem.vue";

const $q = useQuasar();
const router = useRouter();

const contentStore = useContentStore();
const likesStore = useLikesStore();

const userLikes = computed(() => likesStore.getLikes);
likesStore.loadLikes();

const confirm = ref(false);
const confirmId = ref(null);

function handleDelete(id) {
  confirmId.value = id;
  confirm.value = true;
}

function confirmDelete() {
  likesStore.removeLikeById(confirmId.value);
}

function handleNavigation(id, event) {
  const el = event.target;
  if (el.textContent != "delete") {
    router.push({ name: "resource", params: { id: id } });
  }
}
</script>

<style>
/* list transitions */
.list-enter-from {
  opacity: 0;
  /* transform: scale(0.6); */
}
.list-enter-to {
  opacity: 1;
  transform: scale(1);
}
.list-enter-active {
  transition: all 0.5s ease;
}
.list-leave-from {
  opacity: 1;
  transform: scale(1);
}
.list-leave-to {
  opacity: 0;
  transform: scale(0.6);
}
.list-leave-active {
  transition: all 0.5s ease;
  position: absolute;
}
.list-move {
  transition: all 0.4s ease;
}

/* switch transitions */
.switch-enter-from,
.switch-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
.switch-enter-active,
.switch-leave-active {
  transition: all 0.4s ease;
}
</style>
