<template>
  <q-page>
    <div class="bg-blue-10 q-px-lg q-pt-lg q-pb-md text-white text-body-lrg">
      <p>
        You'll find it's a lot easier to fill out job applications and prepare
        your resumé if you gather the information you'll need in one place.
      </p>
      <p>
        Your Master Application is where you will gather the information that
        most employers request into a single document that you can refer to when
        completing job applications and building your resumé.
      </p>
    </div>
    <div class="instructions q-px-md q-pt-sm q-pb-md text-body1">
      <h2 class="text-h6">Steps</h2>
      <ol>
        <li>
          Gather the necessary personal information, which includes past
          employment, graduation from high school, technical schools or any
          other post-secondary colleges and any references who are able to
          communicate your best skills and accomplishments.
        </li>
        <li>
          Start filling out the master application. There are eight sections to
          complete, some of which might not apply to you.
        </li>
        <li>
          You don't have to complete this all at once - take your time. Your
          information is saved along the way and you can come back to change any
          information at any time.
        </li>
        <li>
          You can print and save your master application as a PDF which can be
          attached to any email.
        </li>
        <li>
          Update your information regularly to include changes to current
          employment, new references, new volunteer work and any new
          certifications or accomplishments.
        </li>
      </ol>
      <q-btn
        color="primary"
        class="full-width"
        label="Go to Master Application"
        to="/user/master-application"
      />
    </div>
  </q-page>
</template>

<script setup>
import { useRouter } from "vue-router";

const router = useRouter();
</script>

<style lang="scss">
.instructions li:not(:last-child) {
  margin-bottom: 0.5em;
}
</style>
