<template>
  <q-page>
    <q-scroll-observer @scroll="onScroll" />
    <h2 class="ma-title-print text-h4 q-my-none">Master Application</h2>
    <div class="q-px-md q-pt-md q-pb-sm top" id="top">
      <!-- Menu section -->
      <section class="master-menu section shadow-2">
        <h2 class="text-h6 q-my-none">Master Application</h2>
        <p class="text-body2">Complete each section relevant to you.</p>
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="1. Personal Data"
          @click="$router.replace({ hash: '#section1' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="2. Eligibility to Work"
          @click="$router.replace({ hash: '#section2' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="3. Criminal History"
          @click="$router.replace({ hash: '#section3' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="4. Education"
          @click="$router.replace({ hash: '#section4' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="5. Past Work Experiences"
          @click="$router.replace({ hash: '#section5' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="6. Position Desired"
          @click="$router.replace({ hash: '#section6' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="7. Other Important Experiences"
          @click="$router.replace({ hash: '#section7' })"
        />
        <q-btn
          align="left"
          class="full-width q-mb-sm q-btn__lefter"
          style="text-transform: none"
          color="primary"
          label="8. References"
          @click="$router.replace({ hash: '#section8' })"
        />
      </section>

      <!-- Print button -->
      <section class="master-buttons section shadow-2">
        <p class="text-body1 text-center q-px-md">
          Print your master application<br />
          or save it as a PDF.
        </p>
        <div class="row justify-around">
          <q-btn
            icon="save_alt"
            color="primary"
            label="Print or Save as PDF"
            class="q-px-md full-width"
            @click="dialogExport = true"
          />
        </div>
      </section>
    </div>

    <!-- Dialog: Export -->
    <q-dialog
      v-model="dialogExport"
      no-backdrop-dismiss
      transition-show="none"
      transition-hide="none"
    >
      <q-card>
        <q-card-section>
          <div class="row no-wrap items-center">
            <div class="col text-h6 ellipsis">Print or Save as PDF</div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p class="text-body1">
            A PDF file of your application will be generated, and you will have
            the option to print or save the file on your device.
          </p>
          <p class="text-body1">
            If you download the file, it can be found in your
            <b>Downloads</b> folder, typically located by opening the
            <b>Files</b> app on your device.
          </p>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn
            color="primary"
            class="q-px-lg"
            label="OK"
            @click="handleExport()"
          />
          <q-btn flat label="Cancel" @click="dialogExport = false" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- Section 1 -->
    <section class="q-pb-sm" id="section1">
      <SectionHeading section="1" title="Personal Data" />
      <div class="q-px-md q-pt-md q-pb-sm">
        <q-input
          v-model="maStore.form.section1.i1.data"
          filled
          label="Full name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section1.i2.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section1.i3.data"
          filled
          label="City"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section1.i4.data"
          filled
          label="State"
          class="q-mb-md"
        />

        <q-input
          v-model="maStore.form.section1.i5.data"
          filled
          label="ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section1.i6.data"
          filled
          label="Phone (home)"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
        <q-input
          v-model="maStore.form.section1.i7.data"
          filled
          label="Phone (mobile)"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
        <q-input
          v-model="maStore.form.section1.i8.data"
          filled
          label="Social Security Number"
          type="tel"
          mask="###-##-####"
        />
      </div>
    </section>

    <!-- Section 2 -->
    <section class="q-pb-sm" id="section2">
      <SectionHeading section="2" title="Eligibility to Work" />
      <div class="">
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">
            Are you eligible to work in the United States?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section2.i1.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section2.i1.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">
            Do you have documentation needed to provide proof of eligibility to
            work in the United States?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section2.i2.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section2.i2.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1">
            If you answered yes, what documentation will you provide?
          </p>
          <q-input
            v-model="maStore.form.section2.i3.data"
            filled
            type="textarea"
            autogrow
            rows="3"
          />
        </div>
        <hr />
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">
            Do you have documentation that proves your identity? (i.e., driver's
            license, state-issued identification card, etc.)
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section2.i4.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section2.i4.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1">
            If you answered yes, what documentation will you provide?
          </p>
          <q-input
            v-model="maStore.form.section2.i5.data"
            filled
            type="textarea"
            autogrow
            rows="3"
          />
        </div>
        <hr />
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">
            If you are under age 18, do you have a birth certificate to prove
            your age?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section2.i6.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section2.i6.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Section 3 -->
    <section class="q-pb-sm" id="section3">
      <SectionHeading section="3" title="Criminal History" />
      <div class="">
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">
            Have you ever been convicted of a felony or pleaded “no contest” to
            a felony within the last five years?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section3.i1.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section3.i1.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1">
            If you answered yes, briefly explain the circumstances:
          </p>
          <q-input
            v-model="maStore.form.section3.i2.data"
            filled
            type="textarea"
            autogrow
            rows="3"
          />
        </div>
        <hr />
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1 q-mb-sm">Do you have a letter of explanation?</p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section3.i3.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section3.i3.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
        <div class="question q-px-md q-pt-md q-pb-sm">
          <p class="text-body1">
            What does this letter of explanation address?
          </p>
          <q-input
            v-model="maStore.form.section3.i4.data"
            filled
            type="textarea"
            autogrow
            rows="3"
          />
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <section class="q-pb-sm" id="section4">
      <SectionHeading section="4" title="Education" />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">High school diploma</p>
        <q-input
          v-model="maStore.form.section4.i1.data"
          filled
          label="Name of institution"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i2.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i3.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i4.data"
          filled
          label="Date of graduation"
          class="q-mb-md"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">GED certificate</p>
        <q-input
          v-model="maStore.form.section4.i5.data"
          filled
          label="Issued by"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i6.data"
          filled
          label="Date completed"
          class="q-mb-md"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Community or technical college</p>
        <q-input
          v-model="maStore.form.section4.i7.data"
          filled
          label="Name of institution"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i8.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i9.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i10.data"
          filled
          label="Dates attended or graduated"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i11.data"
          filled
          label="Degree or certificate earned"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i12.data"
          filled
          label="Special coursework"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Four-year degree</p>
        <q-input
          v-model="maStore.form.section4.i13.data"
          filled
          label="Name of institution"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i14.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i15.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i16.data"
          filled
          label="Dates attended or graduated"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i17.data"
          filled
          label="Major"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i18.data"
          filled
          label="Minor"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Apprenticeships and internships</p>
        <q-input
          v-model="maStore.form.section4.i19.data"
          filled
          label="Program/company name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i20.data"
          filled
          label="Skills learned"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i21.data"
          filled
          label="Date completed"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Special certifications / training / licenses</p>
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">Special #1</p>
        <q-input
          v-model="maStore.form.section4.i22.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i23.data"
          filled
          label="License # if applicable:"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i24.data"
          filled
          label="Date completed"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i25.data"
          filled
          label="Restrictions"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i26.data"
          filled
          label="Renewal date"
          class="q-mb-md"
        />
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">Special #2</p>
        <q-input
          v-model="maStore.form.section4.i27.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i28.data"
          filled
          label="License # if applicable:"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i29.data"
          filled
          label="Date completed"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i30.data"
          filled
          label="Restrictions"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section4.i31.data"
          filled
          label="Renewal date"
        />
      </div>
      <hr />
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Extracurricular activities</p>
        <q-input
          v-model="maStore.form.section4.i32.data"
          filled
          type="textarea"
          autogrow
          rows="3"
        />
      </div>
    </section>

    <!-- Section 5 -->
    <section class="q-pb-sm" id="section5">
      <SectionHeading section="5" title="Past Work Experiences" />
      <div class="row no-wrap q-px-sm q-pt-md q-mt-sm ma-note">
        <q-icon name="info" size="xl" />
        <p class="q-mx-sm text-body1 text-weight-medium">
          Start with your most recent employment and work backwards.
        </p>
      </div>
      <!-- Work experience #1 -->
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Work experience #1
        </p>
      </div>
      <div class="q-px-md q-pb-sm">
        <p class="text-h6">Employer Info</p>
        <q-input
          v-model="maStore.form.section5.i1.data"
          filled
          label="Company name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i2.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i3.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i4.data"
          filled
          label="Supervisor"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i5.data"
          filled
          label="Supervisor phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
      </div>
      <div class="question q-px-md q-pb-sm">
        <p class="text-body1 q-mb-sm">Can this employer be contacted?</p>
        <div class="q-gutter-md">
          <q-radio
            v-model="maStore.form.section5.i6.data"
            @update:model-value="onChange($event)"
            val="Yes"
            label="Yes"
          />
          <q-radio
            v-model="maStore.form.section5.i6.data"
            @update:model-value="onChange($event)"
            val="No"
            label="No"
          />
        </div>
      </div>
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Job title / responsibilities</p>
        <q-input
          v-model="maStore.form.section5.i7.data"
          filled
          label="Job title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i8.data"
          filled
          label="Primary responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i9.data"
          filled
          label="Date of employment (from)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i10.data"
          filled
          label="Date of employment (to)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i11.data"
          filled
          label="Salary"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i12.data"
          filled
          label="Reason for leaving"
          class="q-mb-md"
        />
      </div>
      <!-- Work experience #2 -->
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Work experience #2
        </p>
      </div>
      <div class="q-px-md q-pb-sm">
        <p class="text-h6">Employer Info</p>
        <q-input
          v-model="maStore.form.section5.i13.data"
          filled
          label="Company name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i14.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i15.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i16.data"
          filled
          label="Supervisor"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i17.data"
          filled
          label="Supervisor phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
      </div>
      <div class="question q-px-md q-pb-sm">
        <p class="text-body1 q-mb-sm">Can this employer be contacted?</p>
        <div class="q-gutter-md">
          <q-radio
            v-model="maStore.form.section5.i18.data"
            @update:model-value="onChange($event)"
            val="Yes"
            label="Yes"
          />
          <q-radio
            v-model="maStore.form.section5.i18.data"
            @update:model-value="onChange($event)"
            val="No"
            label="No"
          />
        </div>
      </div>
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Job title / responsibilities</p>
        <q-input
          v-model="maStore.form.section5.i19.data"
          filled
          label="Job title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i20.data"
          filled
          label="Primary responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i21.data"
          filled
          label="Date of employment (from)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i22.data"
          filled
          label="Date of employment (to)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i23.data"
          filled
          label="Salary"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i24.data"
          filled
          label="Reason for leaving"
          class="q-mb-md"
        />
      </div>
      <!-- Work experience #3 -->
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Work experience #3
        </p>
      </div>
      <div class="q-px-md q-pb-sm">
        <p class="text-h6">Employer Info</p>
        <q-input
          v-model="maStore.form.section5.i25.data"
          filled
          label="Company name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i26.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i27.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i28.data"
          filled
          label="Supervisor"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i29.data"
          filled
          label="Supervisor phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
      </div>
      <div class="question q-px-md q-pb-sm">
        <p class="text-body1 q-mb-sm">Can this employer be contacted?</p>
        <div class="q-gutter-md">
          <q-radio
            v-model="maStore.form.section5.i30.data"
            @update:model-value="onChange($event)"
            val="Yes"
            label="Yes"
          />
          <q-radio
            v-model="maStore.form.section5.i30.data"
            @update:model-value="onChange($event)"
            val="No"
            label="No"
          />
        </div>
      </div>
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Job title / responsibilities</p>
        <q-input
          v-model="maStore.form.section5.i31.data"
          filled
          label="Job title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i32.data"
          filled
          label="Primary responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i33.data"
          filled
          label="Date of employment (from)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i34.data"
          filled
          label="Date of employment (to)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i35.data"
          filled
          label="Salary"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i36.data"
          filled
          label="Reason for leaving"
          class="q-mb-md"
        />
      </div>
      <!-- Work experience #4 -->
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Work experience #4
        </p>
      </div>
      <div class="q-px-md q-pb-sm">
        <p class="text-h6">Employer Info</p>
        <q-input
          v-model="maStore.form.section5.i37.data"
          filled
          label="Company name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i38.data"
          filled
          label="Address"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i39.data"
          filled
          label="City, state, ZIP code"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i40.data"
          filled
          label="Supervisor"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i41.data"
          filled
          label="Supervisor phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
      </div>
      <div class="question q-px-md q-pb-sm">
        <p class="text-body1 q-mb-sm">Can this employer be contacted?</p>
        <div class="q-gutter-md">
          <q-radio
            v-model="maStore.form.section5.i42.data"
            @update:model-value="onChange($event)"
            val="Yes"
            label="Yes"
          />
          <q-radio
            v-model="maStore.form.section5.i42.data"
            @update:model-value="onChange($event)"
            val="No"
            label="No"
          />
        </div>
      </div>
      <div class="q-px-md q-pt-md q-pb-sm">
        <p class="text-h6">Job title / responsibilities</p>
        <q-input
          v-model="maStore.form.section5.i43.data"
          filled
          label="Job title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i44.data"
          filled
          label="Primary responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i45.data"
          filled
          label="Date of employment (from)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i46.data"
          filled
          label="Date of employment (to)"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i47.data"
          filled
          label="Salary"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section5.i48.data"
          filled
          label="Reason for leaving"
          class="q-mb-md"
        />
      </div>
    </section>

    <!-- Section 6 -->
    <section class="q-pb-sm" id="section6">
      <SectionHeading section="6" title="Position Desired" />
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">Position #1</p>
      </div>
      <div class="q-px-md q-pt-none q-pb-md">
        <q-input
          v-model="maStore.form.section6.i1.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section6.i2.data"
          filled
          label="Responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section6.i3.data"
          filled
          label="Desired salary"
        />
      </div>
      <hr />
      <div class="q-pa-sm">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">Position #2</p>
      </div>
      <div class="q-px-md q-pt-none q-pb-md">
        <q-input
          v-model="maStore.form.section6.i4.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section6.i5.data"
          filled
          label="Responsibilities"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section6.i6.data"
          filled
          label="Desired salary"
        />
      </div>
    </section>

    <!-- Section 7 -->
    <section class="q-pb-sm" id="section7">
      <SectionHeading section="7" title="Other Important Experiences" />
      <div class="question q-px-md q-pt-md q-pb-sm">
        <p class="text-body1">Community / volunteer activities:</p>
        <q-input
          v-model="maStore.form.section7.i1.data"
          filled
          type="textarea"
          autogrow
          rows="3"
        />
      </div>
      <div class="question q-px-md q-pt-md q-pb-sm">
        <p class="text-body1">Hobbies:</p>
        <q-input
          v-model="maStore.form.section7.i2.data"
          filled
          type="textarea"
          autogrow
          rows="3"
        />
      </div>
      <div class="question q-px-md q-pt-md q-pb-sm">
        <p class="text-body1">
          Daily life skills (home management, budgeting, meal planning,
          transportation, etc.):
        </p>
        <q-input
          v-model="maStore.form.section7.i3.data"
          filled
          type="textarea"
          autogrow
          rows="3"
        />
      </div>
      <div class="question q-px-md q-pt-md q-pb-sm">
        <p class="text-body1">Technology experience / technology training:</p>
        <q-input
          v-model="maStore.form.section7.i4.data"
          filled
          type="textarea"
          autogrow
          rows="3"
        />
      </div>
    </section>

    <!-- Section 8 -->
    <section class="q-pb-sm" id="section8">
      <SectionHeading section="8" title="References" />
      <!-- Reference #1 -->
      <div class="q-pa-sm" style="padding-bottom: 0">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Reference #1
        </p>
      </div>
      <div class="q-px-md q-pt-none q-pb-md">
        <q-input
          v-model="maStore.form.section8.i1.data"
          filled
          label="Name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i2.data"
          filled
          label="Company"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i3.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i4.data"
          filled
          label="Contact information"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i5.data"
          filled
          label="Phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
        <q-input
          v-model="maStore.form.section8.i6.data"
          filled
          label="Email"
          type="email"
          class="q-mb-md"
        />
        <div class="question">
          <p class="text-body1 q-mt-none q-mb-sm">
            Has this person has agreed to act as a reference?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section8.i7.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section8.i7.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
      </div>
      <hr />
      <!-- Reference #2 -->
      <div class="q-pa-sm" style="padding-bottom: 0">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Reference #2
        </p>
      </div>
      <div class="q-px-md q-pt-none q-pb-md">
        <q-input
          v-model="maStore.form.section8.i8.data"
          filled
          label="Name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i9.data"
          filled
          label="Company"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i10.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i11.data"
          filled
          label="Contact information"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i12.data"
          filled
          label="Phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
        <q-input
          v-model="maStore.form.section8.i13.data"
          filled
          label="Email"
          type="email"
          class="q-mb-md"
        />
        <div class="question">
          <p class="text-body1 q-mt-none q-mb-sm">
            Has this person has agreed to act as a reference?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section8.i14.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section8.i14.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
      </div>
      <hr />
      <!-- Reference #3 -->
      <div class="q-pa-sm" style="padding-bottom: 0">
        <p class="bg-grey-10 text-white text-h6 q-px-sm q-py-xs">
          Reference #3
        </p>
      </div>
      <div class="q-px-md q-pt-none q-pb-xl">
        <q-input
          v-model="maStore.form.section8.i15.data"
          filled
          label="Name"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i16.data"
          filled
          label="Company"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i17.data"
          filled
          label="Title"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i18.data"
          filled
          label="Contact information"
          class="q-mb-md"
        />
        <q-input
          v-model="maStore.form.section8.i19.data"
          filled
          label="Phone"
          type="tel"
          class="q-mb-md"
          mask="(###) ### - ####"
        />
        <q-input
          v-model="maStore.form.section8.i20.data"
          filled
          label="Email"
          type="email"
          class="q-mb-md"
        />
        <div class="question">
          <p class="text-body1 q-mt-none q-mb-sm">
            Has this person has agreed to act as a reference?
          </p>
          <div class="q-gutter-md">
            <q-radio
              v-model="maStore.form.section8.i21.data"
              @update:model-value="onChange($event)"
              val="Yes"
              label="Yes"
            />
            <q-radio
              v-model="maStore.form.section8.i21.data"
              @update:model-value="onChange($event)"
              val="No"
              label="No"
            />
          </div>
        </div>
      </div>
    </section>

    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <q-page-sticky
        position="bottom-right"
        :offset="[15, 15]"
        v-if="scrollTop > 400"
      >
        <q-btn
          round
          fab
          icon="arrow_upward"
          color="primary"
          class="shadow-4"
          aria-label="Back to top"
          @click="$router.replace({ hash: '#top' })"
        />
      </q-page-sticky>
    </transition>
  </q-page>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from "vue";
import { useRouter } from "vue-router";
import { date, useQuasar } from "quasar";
import SectionHeading from "components/SectionHeading.vue";
import { useMasterApplicationStore } from "stores/MasterApplicationStore";

const $q = useQuasar();
const cordovaPrinter = ref(false);

const maStore = useMasterApplicationStore();
maStore.loadFormData();

// Dialogs
const dialogExport = ref(false);

// Scroll details
const scrollInfo = ref({});
const scrollTop = ref(0);

function onScroll(info) {
  scrollInfo.value = info;
  scrollTop.value = info.position.top;
}

// Save form data when inputs are updated (text inputs, radio buttons)
const saveFormData = () => {
  const timeStamp = Date.now();
  const formattedString = date.formatDate(timeStamp, "MMMM Do, YYYY @ h:mm a");
  maStore.updateDate(formattedString);
  maStore.saveFormData();
};

// Save form data: on keyup & on radio btn change
onMounted(() => {
  document.addEventListener("keyup", handleKeyboard);
});
onUnmounted(() => {
  document.removeEventListener("keyup", handleKeyboard);
});
const handleKeyboard = (e) => {
  saveFormData();
};
const onChange = (e) => {
  // Called from events of each radio button in the template
  saveFormData();
};

// Subheading format
const createSubheading = (str) => {
  return `<h3 style="font-family: sans-serif; margin-top: 10px"><u>${str}</u></h3>`;
};

function handleExport() {
  dialogExport.value = false;

  let options = {
    documentSize: "A4",
    type: "share",
    fileName: "My Master Application File",
  };

  pdf
    .fromData(createAppHtml(), options)
    .then((stats) => console.log("status", stats)) // ok..., ok if it was able to handle the file to the OS.
    .catch((err) => console.err(err));
}

function createAppHtml() {
  const timeStamp = Date.now();
  const dateString = date.formatDate(timeStamp, "MMMM D, YYYY");
  const headerColor = "#216acc";
  const appName = "eTrac for just-in-time learning";
  const pageTitle = "Master Application";

  // Create main body of content, using data from maStore.form
  let contentBody = `
  <h1 style='font-family: sans-serif; color: ${headerColor}; margin: 20px 0;'>${pageTitle}</h1>
  <div style="font-family: sans-serif; font-size: 18px; border: 3px solid #000; padding: 0px 12px; margin-bottom: 30px;">
    <p>This document was generated on ${dateString} by the <i><b>${appName}</b></i> mobile app.</p>
    <p>Any field that was left empty or unanswered in the app is shown here as a blank line.</p>
    <p><b>Important:</b> If you edit this document, your changes will not be saved in the mobile app. If you want to keep the app up to date, it is best to also make your changes there.</p>
  </div>
  `;

  let sectionTitleIndex = 0;
  let sectionTitleNum;
  let inputIndex;
  let inputNum;
  const sectionTitles = maStore.sectionTitles;

  for (const s in maStore.form) {
    inputIndex = 1;
    sectionTitleNum = sectionTitleIndex++;
    if (sectionTitleNum == 1) {
      contentBody += `<h2 style='font-family: sans-serif; color: ${headerColor}; margin: 10px 0; padding-bottom: 16px;'>Section ${sectionTitleNum} of ${
        sectionTitles.length - 1
      }: ${sectionTitles[sectionTitleNum]}</h2>`;
    } else if (sectionTitleNum > 1) {
      contentBody += `<h2 style='font-family: sans-serif; color: ${headerColor}; margin: 24px 0 10px 0; padding: 24px 0 16px 0; border-top: 3px solid ${headerColor}'>Section ${sectionTitleNum} of ${
        sectionTitles.length - 1
      }: ${sectionTitles[sectionTitleNum]}</h2>`;
    }

    const section = maStore.form[s];
    for (const f in section) {
      inputNum = inputIndex++;
      const formInput = section[f];
      const userEntry =
        formInput.data !== "" ? formInput.data : "________________________";
      if (sectionTitleNum > 0) {
        // Add content subheaders (# of sub-section)
        // Section 4: Education, special
        if (sectionTitleNum == 4 && inputNum == 1) {
          contentBody += createSubheading("High school diploma");
        }
        if (sectionTitleNum == 4 && inputNum == 5) {
          contentBody += createSubheading("GED certificate");
        }
        if (sectionTitleNum == 4 && inputNum == 7) {
          contentBody += createSubheading("Community or technical college");
        }
        if (sectionTitleNum == 4 && inputNum == 13) {
          contentBody += createSubheading("Four-year degree");
        }
        if (sectionTitleNum == 4 && inputNum == 19) {
          contentBody += createSubheading("Apprenticeships and internships");
        }
        if (sectionTitleNum == 4 && inputNum == 22) {
          contentBody += createSubheading(
            "Special certifications / training / licenses #1"
          );
        }
        if (sectionTitleNum == 4 && inputNum == 27) {
          contentBody += createSubheading(
            "Special certifications / training / licenses #2"
          );
        }
        if (sectionTitleNum == 4 && inputNum == 32) {
          contentBody += createSubheading("Extracurricular activities");
        }

        // Section 5: Past Work Experiences
        if (sectionTitleNum == 5 && inputNum == 1) {
          contentBody += createSubheading("Work Experience #1");
        }
        if (sectionTitleNum == 5 && inputNum == 13) {
          contentBody += createSubheading("Work Experience #2");
        }
        if (sectionTitleNum == 5 && inputNum == 25) {
          contentBody += createSubheading("Work Experience #3");
        }
        if (sectionTitleNum == 5 && inputNum == 37) {
          contentBody += createSubheading("Work Experience #4");
        }

        // Section 6: Position Desired
        if (sectionTitleNum == 6 && inputNum == 1) {
          contentBody += createSubheading("Position #1");
        }
        if (sectionTitleNum == 6 && inputNum == 4) {
          contentBody += createSubheading("Position #2");
        }

        // Section 8: References
        if (sectionTitleNum == 8 && inputNum == 1) {
          contentBody += createSubheading("Reference #1");
        }
        if (sectionTitleNum == 8 && inputNum == 8) {
          contentBody += createSubheading("Reference #2");
        }
        if (sectionTitleNum == 8 && inputNum == 15) {
          contentBody += createSubheading("Reference #3");
        }

        // Add content
        contentBody += `<p style="font-family: sans-serif; margin: 0 0 4px 0;"><b>${formInput.label}</b></p><p style="font-family: sans-serif; margin: 0 0 16px 0;">${userEntry}</p>`;
      }
    }
  }

  return contentBody;
}

// Export
document.addEventListener(
  "deviceready",
  function () {
    // cordova.plugins.printer is now available
    cordovaPrinter.value = true;
  },
  false
);
</script>

<style lang="scss">
.ma-title-print {
  display: none;
}
.instructions li:not(:last-child) {
  margin-bottom: 0.5em;
}
select {
  background-color: $grey-3;
  border: 0;
  border-bottom: 1px solid $grey-6;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}
.export-doc {
  font-family: sans-serif;
}

@media print {
  .ma-title-print {
    display: block;
  }
  .top {
    display: none;
  }
}
</style>
