<template>
  <q-page>
    <section class="q-px-lg q-pt-md">
      <div class="row justify-center">
        <q-img
          src="/images/logo-splash.png"
          alt="eTrac for just in time learning"
          class="q-mt-lg q-mb-lg"
          style="max-width: 450px"
        />
      </div>
      <div class="instructions q-pt-sm q-pb-sm text-body1">
        <p>
          MSS is here to help you with all of your support needs! Whether you
          have a question about operating the eTrac<sup>®</sup> for just-in-time
          learning app or how to install the app, our support team is here for
          you every step of the way.
        </p>
      </div>
    </section>
    <section class="q-px-md text-center text-body1">
      <hr class="hr q-mb-lg" />
      <p>If you need help, please contact us at etracmss@mssmn.org.</p>
      <p>
        <q-btn
          color="grey-9"
          rounded
          class="q-px-lg"
          label="Contact Us"
          icon="mail"
          @click="openEmail()"
        />
      </p>
    </section>
  </q-page>
</template>

<script setup>
const openEmail = () => {
  window.location.href =
    "mailto:etracmss@mssmn.org?subject=eTrac 3 App Support";
};
</script>
