<template>
  <q-page>
    <q-list separator role="menu" class="text-body1">
      <!-- Text size -->
      <q-item class="q-pt-md q-pb-none q-mb-none">
        <q-item-section>
          <q-item-label>Text Size</q-item-label>
          <q-item-label caption>
            Increase the interface text by 1x, and the resource text by 2x.
          </q-item-label>
          <ThemeTextSize textSelector=".article" />
          <div class="q-mb-md text-center">
            <div class="article">
              <p>Example of resource text size.</p>
            </div>
          </div>
        </q-item-section>
      </q-item>

      <!-- Display theme -->
      <q-item class="q-pt-md q-pb-none q-mb-none">
        <q-item-section>
          <div>
            <q-item-label>Display Theme</q-item-label>
            <q-item-label caption>
              Choose your preferred application theme.
            </q-item-label>
          </div>
          <div class="q-mt-md">
            <ThemeDisplayMode />
          </div>
        </q-item-section>
      </q-item>

      <!-- About -->
      <q-item clickable v-ripple to="/user/about">
        <q-item-section>About</q-item-section>
      </q-item>

      <!-- Privacy -->
      <q-item clickable v-ripple @click="handlePrivacy()">
        <q-item-section>Privacy Policy</q-item-section>
      </q-item>

      <!-- Contact -->
      <q-item clickable v-ripple to="/user/contact">
        <q-item-section>Contact</q-item-section>
      </q-item>

      <!-- Version -->
      <q-item clickable v-ripple @click="handleShowDebug()">
        <q-item-section>
          <div>
            Version
            <span class="q-ml-sm text-weight-bold">{{ appVersion }}</span>
          </div>
        </q-item-section>
      </q-item>
    </q-list>

    <!-- Debug items -->
    <q-list separator v-if="counter >= 6" class="text-body1">
      <q-item-label header class="text-primary text-weight-bold"
        >Data Management and Debug</q-item-label
      >

      <q-item clickable v-ripple @click="$router.push({ path: '/summary' })">
        <q-item-section>
          <q-item-label>Resources Summary</q-item-label>
          <q-item-label caption
            >A summary of the resources by category</q-item-label
          >
        </q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        @click="$router.push({ path: '/content-review' })"
      >
        <q-item-section>
          <q-item-label>Content Review</q-item-label>
          <q-item-label caption
            >List out the full content of every resource</q-item-label
          >
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple @click="handleDeleteLikes()">
        <q-item-section>
          <q-item-label>Delete Likes Data</q-item-label>
          <q-item-label caption>
            Delete all likes from the Likes screen
            <span v-if="likesDeleted" class="text-weight-bold">- ×</span>
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-icon color="secondary" name="delete" />
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple @click="handleDeleteMA()">
        <q-item-section>
          <q-item-label>Delete Master Application Data</q-item-label>
          <q-item-label caption>
            Delete all form data from the application
            <span v-if="maAppDeleted" class="text-weight-bold">- ×</span>
          </q-item-label>
        </q-item-section>
        <q-item-section avatar>
          <q-icon color="secondary" name="delete" />
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script setup>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { useRouter } from "vue-router";
import { useLikesStore } from "src/stores/LikesStore";
import { useMasterApplicationStore } from "stores/MasterApplicationStore";

import { version } from "../../package.json";
import ThemeTextSize from "components/ThemeTextSize.vue";
import ThemeDisplayMode from "components/ThemeDisplayMode.vue";

const $q = useQuasar();
const likesStore = useLikesStore();
const maStore = useMasterApplicationStore();

const appVersion = version;

const handlePrivacy = () => {
  const linkUrl = "https://www.mssmn.org/etrac-app-privacy";
  if ($q.platform.is.ios) {
    window.cordova.InAppBrowser.open(linkUrl, "_system"); // Opening in Safari
  } else if ($q.platform.is.android) {
    window.open(linkUrl);
  }
};

const counter = ref(0);
const handleShowDebug = () => {
  counter.value++;
};

const likesDeleted = ref(false);
const handleDeleteLikes = () => {
  likesStore.deleteAllData();
  likesDeleted.value = true;
};

const maAppDeleted = ref(false);
const handleDeleteMA = () => {
  maStore.deleteAllData();
  maAppDeleted.value = true;
};
</script>
