<template>
  <q-page class="q-px-lg q-py-md">
    <div class="row justify-center">
      <q-img
        src="/images/logo-splash.png"
        alt="eTrac for just in time learning"
        class="q-mt-lg q-mb-lg"
        style="max-width: 450px"
      />
    </div>

    <ButtonBasic
      class="q-mb-lg"
      v-for="about in contentStore.data.about"
      :key="about.id"
    >
      <h2 class="text-h6 q-my-sm text-weight-bold line-height-sm">
        {{ about.title }}
      </h2>
      <p class="text-body1" v-html="about.content"></p>
    </ButtonBasic>
  </q-page>
</template>

<script setup>
import { useContentStore } from "stores/ContentStore";
import ButtonBasic from "components/ButtonBasic.vue";

const contentStore = useContentStore();
</script>
