<template>
  <q-page>
    <HeroMessage
      image="https://res.cloudinary.com/der67rfj1/image/upload/v1657129750/images/my-info_sly3ta.jpg"
    >
      Keep track of your important job-seeking information
    </HeroMessage>
    <div class="button-container q-px-md q-py-md">
      <ButtonMyInfo
        icon="description"
        class="q-mb-md"
        @click="$router.push({ path: 'my-master-application' })"
      >
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm">
          My Master Application
        </h3>
        <p class="text-body1">
          This document will help you with filling out your resumé and job
          applications.
        </p>
      </ButtonMyInfo>
      <!-- Remove these features until we can develop them -->
      <!-- <p class="text-h6 text-note q-pa-sm q-my-md">
        <b>Note:</b> The features below are not available during the Alpha stage
        of this app's development.
      </p>
      <ButtonMyInfo icon="people_outline" class="q-mb-md" disabled>
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm">
          My Job Interviews
        </h3>
        <p class="text-body1">
          Keep track of job interviews you have coming up and get reminders to
          follow up.
        </p>
      </ButtonMyInfo>
      <ButtonMyInfo icon="question_answer" class="q-mb-md" disabled>
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm">
          My Answers to Common Questions
        </h3>
        <p class="text-body1">
          Record your answers to some common interview questions for reference.
        </p>
      </ButtonMyInfo>
      <ButtonMyInfo icon="edit_note" disabled>
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm">
          My Notes
        </h3>
        <p class="text-body1">
          Record any other custom notes that might help you prepare for job
          seeking.
        </p>
      </ButtonMyInfo> -->
    </div>
  </q-page>
</template>

<script setup>
import { useRouter } from "vue-router";
import HeroMessage from "components/HeroMessage.vue";
import ButtonMyInfo from "components/ButtonMyInfo.vue";

const router = useRouter();
</script>

<style lang="scss">
.button-container {
  margin-top: -6em;
}
</style>
