<template>
  <q-page>
    <HeroMessage
      image="https://res.cloudinary.com/der67rfj1/image/upload/v1659564690/images/my-master-application_gqlotl.jpg"
    >
      Learn about and fill out your master application
    </HeroMessage>
    <div class="button-container q-px-md q-py-md">
      <ButtonBasic
        class="q-mb-md"
        @click="$router.push({ path: 'master-application-instructions' })"
      >
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm">
          Instructions
        </h3>
        <p class="text-body1">
          Information that will help you fill out your resumé and job
          applications.
        </p>
      </ButtonBasic>
      <ButtonBasic @click="$router.push({ path: 'master-application' })">
        <h3 class="text-h6 q-my-sm text-weight-bold line-height-sm q-mb-md">
          Master Application
        </h3>
        <div v-if="lastUpdated">
          <p class="text-body2 q-mb-xs">Last updated:</p>
          <p class="text-body1 text-bold q-mt-sm last-updated">
            {{ lastUpdated }}
          </p>
        </div>
        <div v-else>
          <p class="text-body1">Get started adding your information.</p>
          <p class="text-body1">
            You can do this piece by piece, and we will save your data
            automatically.
          </p>
        </div>
        <q-btn
          class="full-width q-mb-md"
          color="primary"
          :label="appButtonLabel()"
          icon-right="chevron_right"
        />
      </ButtonBasic>
    </div>
  </q-page>
</template>

<script setup>
import { computed } from "vue";
import { useRouter } from "vue-router";
import HeroMessage from "components/HeroMessage.vue";
import ButtonBasic from "components/ButtonBasic.vue";
import { useMasterApplicationStore } from "stores/MasterApplicationStore";

const router = useRouter();
const maStore = useMasterApplicationStore();
maStore.loadFormData();

// Last updated ;
const lastUpdated = computed(() => maStore.lastUpdated);
const appButtonLabel = () => {
  let str = "";
  if (lastUpdated.value) {
    str = "Update your Application";
  } else {
    str = "Start your Application";
  }
  return str;
};

function gotoMA(e) {
  console.log("gotoMA");
}
</script>

<style lang="scss">
.button-container {
  margin-top: -6em;
}
</style>
