<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="q-px-md q-pt-sm" :class="colorClass" height-hint="98">
      <q-toolbar class="q-pl-xs q-pr-none">
        <q-btn
          flat
          round
          color="white"
          icon="arrow_back"
          size="0.9rem"
          style="margin-left: -16px"
          @click="$router.go(-1)"
          aria-label="Back"
        />
        <q-space></q-space>
        <q-btn
          flat
          round
          size="md"
          aria-label="Adjust text size"
          @click="handleTheme()"
        >
          <q-icon color="accent" size="1.75rem">
            <IconAa fill="#fff" />
          </q-icon>
        </q-btn>
      </q-toolbar>
      <TheBreadcrumbs :id="route.params.id"></TheBreadcrumbs>
      <ContentHeader>{{ introItem.title }}</ContentHeader>
    </q-header>

    <q-page-container>
      <q-page>
        <ResourceIntroItem
          :image="introItem.thumbnail"
          :imageDescription="introItem.thumbnailDescription"
          :text="introItem.content.text"
        />
        <q-list separator role="menu" class="xxl-bottom-padding">
          <template v-for="item in items" :key="item.id">
            <ResourceItem
              role="menuitem"
              :id="item.id"
              @click="
                $router.push({ name: 'resource', params: { id: item.id } })
              "
            />
          </template>
        </q-list>

        <!-- Audio button -->
        <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <q-page-sticky
            v-if="introItem.content.media"
            position="bottom"
            :offset="[0, 24]"
          >
            <q-btn
              fab
              color="primary"
              class="shadow-4"
              aria-label="Audio controls"
              @click="openAudio()"
              style="border-radius: 50px"
            >
              <q-icon name="volume_up" size="2rem" />
            </q-btn>
          </q-page-sticky>
        </transition>

        <!-- Audio player -->
        <transition
          appear
          enter-active-class="animated fadeInUp"
          leave-active-class="animated fadeOutDown"
        >
          <AudioPanel
            @hide="dialogAudio = false"
            v-show="dialogAudio"
            :show="dialogAudio"
            class="fixed-bottom"
            :audioUrl="introItem.content.media"
            style="z-index: 10000"
          />
        </transition>

        <!-- Theme adjuster -->
        <transition
          appear
          enter-active-class="animated fadeInUp"
          leave-active-class="animated fadeOutDown"
        >
          <ThemePanel
            @hide="showThemePanel = false"
            v-show="showThemePanel"
            :show="showThemePanel"
            textSelector=".article"
            class="fixed-bottom"
            style="z-index: 10000"
          />
        </transition>
      </q-page>
    </q-page-container>

    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { computed, ref, watch, onMounted } from "vue";
import { useRoute } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import ContentHeader from "components/ContentHeader.vue";
import TheBreadcrumbs from "components/TheBreadcrumbs.vue";
import ResourceIntroItem from "components/ResourceIntroItem.vue";
import ResourceItem from "components/ResourceItem.vue";
import TheFooter from "components/TheFooter.vue";
import IconAa from "components/IconAa.vue";
import AudioPanel from "components/AudioPanel.vue";
import ThemePanel from "components/ThemePanel.vue";
import { useUserStore } from "stores/UserStore";

const userStore = useUserStore();
const showThemePanel = computed({
  get() {
    return userStore.getShowThemePanel;
  },
  set(newValue) {
    userStore.showThemePanel = newValue;
  },
});

// Audio
const dialogAudio = ref(false);
const openAudio = () => {
  dialogAudio.value = true;
};

// Text size
const handleTheme = () => {
  userStore.showThemePanel = true;
};
const adjustSize = (val) => {
  const el = document.querySelector(".article");
  const size = `size${val}`;
  el.classList.remove("size1", "size2", "size3", "size4");
  el.classList.add(size);
};

watch(
  () => userStore.textSize,
  (newSize) => {
    adjustSize(newSize);
    userStore.saveSettings();
  }
);

onMounted(() => {
  userStore.loadSettings();
  adjustSize(userStore.textSize);
});

const tab = ref("");
const route = useRoute();
const contentStore = useContentStore();
const resourceList = contentStore.getResourceList(route.params.id);
const introItem = contentStore.getResource(resourceList.introItem);
const items = resourceList.list.items;

const colorClass = computed(() => {
  const cId = route.params.id.split("-")[0];
  return `category-${cId}`;
});
</script>
