<template>
  <q-page>
    <ResourceArticle v-if="resource.type == 'article'" :resource="resource" />
    <ResourceVideo v-if="resource.type == 'video'" :resource="resource" />
  </q-page>
</template>

<script setup>
import { useRoute } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import ResourceArticle from "components/ResourceArticle.vue";
import ResourceVideo from "components/ResourceVideo.vue";

const route = useRoute();
const contentStore = useContentStore();
const resource = contentStore.getResource(route.params.id);
</script>
