<template>
  <q-layout view="hHh LpR fFf">
    <q-header bordered class="search-header shadow-4" height-hint="98">
      <q-toolbar class="q-pl-sm q-pr-md">
        <q-btn
          round
          flat
          color="secondary"
          icon="arrow_back"
          @click="$router.go(-1)"
          aria-label="Back"
        />
        <q-input
          ref="searchInputRef"
          borderless
          v-model="search"
          class="q-ml-md text-md hideVisualLabel"
          style="width: 100%; font-size: 1rem"
          placeholder="Search for..."
          aria-label="Search"
        >
        </q-input>
        <q-btn
          v-if="search !== ''"
          icon="clear"
          round
          flat
          color="secondary"
          @click="handleClear()"
          aria-label="Clear text"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page>
        <div
          class="text-subtitle1"
          v-if="filteredResults.length > 0 && search.length > 2"
        >
          <p class="q-ma-none q-mt-sm q-px-md q-pb-sm text-subtitle1">
            {{ filteredResults.length }} results for <b>{{ search }}</b>
          </p>
          <q-list separator role="menu">
            <template v-for="result in filteredResults" :key="result.id">
              <SearchResultsItem
                role="menuitem"
                :id="result.id"
                :title="result.title"
                :search="search"
                @click="handleRouter(result.id)"
              />
            </template>
          </q-list>
        </div>
        <div
          class="q-ma-none q-mt-sm q-px-md text-subtitle1"
          v-if="filteredResults.length == 0 && search.length > 1"
        >
          0 results for <b>{{ search }}</b>
        </div>
      </q-page>
    </q-page-container>

    <TheFooter tab="search" />
  </q-layout>
</template>

<script setup>
import { ref, onMounted, computed, watch } from "vue";
import { useRouter } from "vue-router";
import { useContentStore } from "stores/ContentStore";
import { useUserStore } from "stores/UserStore";
import { useTextFromHTML } from "src/use/useTextFromHTML";
import TheFooter from "components/TheFooter.vue";
import SearchResultsItem from "components/SearchResultsItem.vue";

const router = useRouter();
const contentStore = useContentStore();
const userStore = useUserStore();
const searchInputRef = ref(null);
const resources = contentStore.getAllResources;
const search = ref("");

onMounted(() => {
  search.value = userStore.search;
  searchInputRef.value.focus();
});

const handleClear = () => {
  search.value = "";
  userStore.search = "";
  searchInputRef.value.focus();
};

const handleRouter = (id) => {
  const resourceList = contentStore.isResourceListIntro(id);
  console.log("resourceList", resourceList);
  if (resourceList == undefined) {
    router.push({
      name: "resource",
      params: { id: id },
    });
  } else {
    router.push({
      name: "list",
      params: { id: resourceList.id },
    });
  }
};

// Record search query with each keystroke
watch(search, (newSearch) => {
  search.value = search.value.toLocaleLowerCase();
  userStore.search = search.value;
});

const filteredResults = computed(() => {
  // Return result if query is either in title or in content
  let rgx = new RegExp(search.value, "i");
  return resources.filter((resource) => {
    // Check for match in title
    const resultTitle = resource.title.match(rgx);
    if (resultTitle) {
      const includeThisMatch = includeInMatch(
        resultTitle.input,
        resultTitle.index
      );
      if (includeThisMatch) {
        return resultTitle;
      }
    }

    // Check for match in text
    const resourceText = useTextFromHTML(resource.content.text);
    const resultContent = resourceText.match(rgx);
    if (resultContent) {
      const includeThisMatch = includeInMatch(
        resultContent.input,
        resultContent.index
      );
      if (includeThisMatch) {
        return resultContent;
      }
    }

    // Check for match in keywords
    const keywords = resource.keywords.join(", ");
    const resultKeywords = keywords.match(rgx);
    if (resultKeywords) {
      const includeThisMatch = includeInMatch(
        resultKeywords.input,
        resultKeywords.index
      );
      if (includeThisMatch) {
        return resource.content.text;
      }
    }
  });
});

const previousChar = (input, index) => {
  if (index == 0) {
    return null;
  }
  return input.substring(index - 1, index);
};

const includeInMatch = (input, index) => {
  const pc = previousChar(input, index);
  if (pc == " " || pc == null) {
    // The char is at the start of a word
    return true;
  } else {
    // The char is mid-word
    return false;
  }
};
</script>
