<template>
  <img
    src="/images/logo-splash.png"
    alt="eTrac Logo"
    class="splash fade-in-long"
  />
</template>

<script setup>
import { onMounted } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

onMounted(() => {
  handleTimeout();
});

const handleTimeout = () => {
  setTimeout(() => {
    navToNext();
  }, 2000);
};

const navToNext = () => {
  router.push("/home");
};
</script>

<style scoped>
.splash {
  width: 100%;
  width: calc(200px + 20vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transition-timing-function: ease-out;
  transform: translate(-50%, -50%);
}
</style>
