<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <q-page class="q-pa-sm">
        <q-markup-table dense>
          <thead class="bg-grey-9 text-white">
            <tr>
              <th class="text-left">Area</th>
              <th class="text-right">Count</th>
            </tr>
          </thead>
          <tbody>
            <!-- Category 1 -->
            <tr class="category-c1 text-white">
              <td class="text-left">Category 1 Resources</td>
              <td class="text-right">
                {{ category1.total }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category1.articles }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category1.videos }}
              </td>
            </tr>
            <!-- Category 2 -->
            <tr class="category-c2 text-white">
              <td class="text-left">Category 2 Resources</td>
              <td class="text-right">
                {{ category2.total }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category2.articles }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category2.videos }}
              </td>
            </tr>
            <!-- Category 3 -->
            <tr class="category-c3 text-white">
              <td class="text-left">Category 3 Resources</td>
              <td class="text-right">
                {{ category3.total }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category3.articles }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category3.videos }}
              </td>
            </tr>
            <!-- Category 4 -->
            <tr class="category-c4 text-white">
              <td class="text-left">Category 4 Resources</td>
              <td class="text-right">
                {{ category4.total }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category4.articles }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category4.videos }}
              </td>
            </tr>
            <!-- Category 5 -->
            <tr class="category-c5 text-white">
              <td class="text-left">Category 5 Resources</td>
              <td class="text-right">
                {{ category5.total }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category5.articles }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category5.videos }}
              </td>
            </tr>
            <!-- Category 6 -->
            <tr class="category-c6 text-white">
              <td class="text-left">Category 6 Resources</td>
              <td class="text-right">
                {{ category6.total }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ category6.articles }}
              </td>
            </tr>
            <tr>
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ category6.videos }}
              </td>
            </tr>
            <!-- Totals -->
            <tr class="bg-grey-9 text-white">
              <td class="text-left"><strong>Total Resources</strong></td>
              <td class="text-right">
                {{ resources.length }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Articles</td>
              <td class="text-right">
                {{ totalArticles }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Videos</td>
              <td class="text-right">
                {{ totalVideos }}
              </td>
            </tr>
            <tr class="">
              <td class="text-left indent">Resource Lists</td>
              <td class="text-right">
                {{ resourceLists.length }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </q-page>
    </q-page-container>
    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { useContentStore } from "stores/ContentStore";
import TheFooter from "components/TheFooter.vue";

const contentStore = useContentStore();
const resources = contentStore.data.resources;
const resourceLists = contentStore.data.resourceLists;

const countResourceDetails = (arr, categoryString) => {
  const catResources = arr.filter((res) => res.categoryId === categoryString);
  const data = {
    total: catResources.length,
    articles: catResources.filter((res) => res.type === "article").length,
    videos: catResources.filter((res) => res.type === "video").length,
  };
  return data;
};

const category1 = countResourceDetails(resources, "c1");
const category2 = countResourceDetails(resources, "c2");
const category3 = countResourceDetails(resources, "c3");
const category4 = countResourceDetails(resources, "c4");
const category5 = countResourceDetails(resources, "c5");
const category6 = countResourceDetails(resources, "c6");

const totalArticles =
  category1.articles +
  category2.articles +
  category3.articles +
  category4.articles +
  category5.articles +
  category6.articles;
const totalVideos =
  category1.videos +
  category2.videos +
  category3.videos +
  category4.videos +
  category5.videos +
  category6.videos;
</script>

<style scoped>
.indent {
  padding-left: 3em !important;
}
</style>
