<template>
  <q-page>
    <q-list separator role="menu">
      <template v-for="item in items" :key="item.id">
        <ResourceItem
          role="menuitem"
          v-if="item.type === 'resource'"
          :id="item.id"
          @click="$router.push({ name: 'resource', params: { id: item.id } })"
        />
        <ResourceListItem
          role="menuitem"
          v-if="item.type === 'list'"
          :id="item.id"
          @click="$router.push({ name: 'list', params: { id: item.id } })"
        />
      </template>
    </q-list>
  </q-page>
</template>

<script setup>
import { useRoute } from "vue-router";
import ResourceItem from "components/ResourceItem.vue";
import ResourceListItem from "components/ResourceListItem.vue";
import { useContentStore } from "src/stores/ContentStore";

const route = useRoute();
const contentStore = useContentStore();
const topic = contentStore.getTopic(route.params.id);
const items = topic.list.items;
</script>
