<template>
  <div>
    <div class="q-mx-lg">
      <q-slider
        v-model="audioProgress"
        :min="0"
        :max="100"
        thumb-size="26px"
        ref="audioSlider"
        @pan="sliderPan($event)"
        @update:model-value="sliderUpdate($event)"
      />
      <div class="row justify-between" style="margin-top: -5px">
        <div class="time-now text-subtitle1">
          {{ `${formatSecond(state.currentTime)}` }}
        </div>
        <div class="time-total text-subtitle1">{{ state.totalTimeStr }}</div>
      </div>
    </div>
    <div class="q-mt-md q-mb-none q-pb-sm text-center">
      <q-btn
        round
        color="primary"
        icon="fast_rewind"
        aria-label="Seek backward"
        @click="fastBackward()"
      />
      <q-btn
        round
        dense
        size="1.5rem"
        :icon="state.isPlaying ? 'pause' : 'play_arrow'"
        :aria-label="state.isPlaying ? 'Pause' : 'Play'"
        color="primary"
        class="shadow-4 q-mx-xl"
        @click="togglePlayer()"
      />
      <q-btn
        round
        icon="fast_forward"
        color="primary"
        aria-label="Seek forward"
        @click="fastForward()"
      />
    </div>
    <audio
      ref="audioPlayer"
      :src="src"
      @ended="onAudioEnded"
      @play="onAudioPlay"
      @pause="onAudioPause"
      @loadedmetadata="onLoadMetaData"
      @timeupdate="onTimeUpdate"
    ></audio>
  </div>
</template>

<script setup>
import { ref, reactive, watch, onBeforeUnmount } from "vue";
import { formatSecond } from "../utils/util";

const audioPlayer = ref();
const audioSlider = ref();
let audioProgress = ref(0);
const progressInterval = 150;
const jumpAmount = 0.1;
let timer;
const state = reactive({
  isPlaying: false,
  isDragging: false,
  currentTime: 0,
  totalTime: 0,
  totalTimeStr: "00:00",
});

const props = defineProps({
  src: {
    type: String,
    required: true,
  },
  playOnOpen: {
    type: Boolean,
    required: true,
  },
  beginPlaying: {
    type: Boolean,
    required: false,
  },
});

const playUpdate = () => {
  if (state.isDragging) {
    return;
  }
  updateProgress();
};

const updateProgress = () => {
  const theProgress =
    (audioPlayer.value.currentTime / audioPlayer.value.duration) * 100;
  audioProgress.value = theProgress;
  state.currentTime = audioPlayer.value.currentTime;
};

const startTimer = () => {
  clearTimer();
  timer = window.setInterval(playUpdate, progressInterval);
  state.isPlaying = true;
};

const clearTimer = () => {
  if (timer) {
    window.clearInterval(timer);
    timer = null;
  }
};

const play = () => {
  audioPlayer.value
    .play()
    .then(() => {
      startTimer();
      setTotalTime(audioPlayer.value.duration);
    })
    .catch((error) => {
      // emit("play-error", error);
    });
  state.isPlaying = true;
};

const pause = () => {
  audioPlayer.value.pause();
  state.isPlaying = false;
};

const fastForward = () => {
  const amount = state.totalTime * jumpAmount;
  if (state.currentTime + amount <= state.totalTime) {
    state.currentTime += amount;
  } else {
    state.currentTime = state.totalTime - 0.2;
  }
  audioPlayer.value.currentTime = state.currentTime;

  updateProgress();
};
const fastBackward = () => {
  const amount = state.totalTime * jumpAmount;
  if (state.currentTime - amount > 0) {
    state.currentTime -= amount;
  } else {
    state.currentTime = 0;
  }
  audioPlayer.value.currentTime = state.currentTime;

  updateProgress();
};

const togglePlayer = () => {
  if (state.isPlaying) {
    pause();
  } else {
    play();
  }
};

const sliderPan = (e) => {
  if (e === "start") {
    state.isDragging = true;
  } else {
    state.isDragging = false;
  }
};

const sliderUpdate = (val) => {
  state.currentTime = state.totalTime * (val / 100);
  audioPlayer.value.currentTime = state.currentTime;
};

const setTotalTime = (seconds) => {
  state.totalTime = seconds;
  state.totalTimeStr = formatSecond(state.totalTime);
};

const onAudioEnded = () => {
  // Reset time & slider
  state.currentTime = 0;
  audioPlayer.value.currentTime = state.currentTime;
  audioProgress.value = 0;
  state.isPlaying = false;
  clearTimer();
};

const onAudioPause = () => {
  state.isPlaying = false;
  clearTimer();
  // emit("pause");
};

const onAudioPlay = () => {
  state.isPlaying = true;
  // emit("play");
};

const onLoadMetaData = (e) => {
  setTotalTime(e.target.duration);
  // emit("loadedmetadata", e);
};

const onTimeUpdate = (event) => {
  // emit("timeupdate", event);
};

onBeforeUnmount(() => {
  pause();
  clearTimer();
});

watch(
  () => props.beginPlaying,
  (newVal) => {
    if (newVal) {
      play();
    }
  }
);
</script>
