<template>
  <div class="theme-panel">
    <q-card class="theme-panel-card" style="z-index: 1000">
      <q-card-section class="q-pt-lg q-pb-xs">
        <AudioPlayer
          class="q-mb-sm"
          :src="props.audioUrl"
          :playOnOpen="false"
          :beginPlaying="beginPlaying"
        />
      </q-card-section>
      <q-card-section class="q-pb-xs">
        <q-separator />
        <div class="text-center q-my-xs q-mb-none q-mt-sm">
          <q-btn
            flat
            label="Close"
            size="1.125rem"
            class="full-width"
            @click="$emit('hide')"
          />
        </div>
      </q-card-section>
    </q-card>
    <div
      class="fullscreen fade-in-panel-bg"
      style="z-index: 900"
      @click="$emit('hide')"
    ></div>
  </div>
</template>

<script setup>
import { ref, watch } from "vue";
import AudioPlayer from "components/AudioPlayer.vue";

const props = defineProps({
  audioUrl: {
    type: String,
    required: true,
  },
  show: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(["hide"]);
const beginPlaying = ref(false);
let topPosition = 0;

// Watch props.show to handle scrolling
watch(
  () => props.show,
  (newShow) => {
    if (newShow) {
      // Opened > Stop body scrolling
      beginPlaying.value = true;
      topPosition = document.body.getBoundingClientRect().y;
      document.body.classList.add(
        "q-body--force-scrollbar-y",
        "q-body--prevent-scroll"
      );
      document.body.style.top = `${topPosition}px`;
    } else {
      // Closed > Resume body scrolling
      beginPlaying.value = false;
      document.body.removeAttribute("style");
      document.body.classList.remove(
        "q-body--force-scrollbar-y",
        "q-body--prevent-scroll"
      );
      window.scrollTo(0, Math.abs(topPosition));
    }
  }
);
</script>
