<template>
  <button class="info-button shadow-2">
    <div
      class="info-button-child info-button-left text-left q-px-md q-pt-sm q-pb-none"
    >
      <slot></slot>
    </div>
    <div class="info-button-child info-button-right text-white">
      <q-icon :name="icon" color="white" />
    </div>
  </button>
</template>

<script setup>
const props = defineProps({
  icon: {
    type: String,
    required: true,
  },
});
</script>

<style lang="scss" scoped>
.body--light {
  .info-button {
    background-color: $primary;
  }
  .info-button-left {
    background-color: #fff;
  }
}

.body--dark {
  .info-button {
    background-color: $primary;
  }
  .info-button-left {
    background-color: $grey-9;
  }
}
</style>
