<template>
  <button class="info-button shadow-2">
    <div
      class="info-button-child info-button-left text-left q-px-md q-pt-sm q-pb-none"
    >
      <slot></slot>
    </div>
  </button>
</template>
