<template>
  <div class="info-button shadow-6">
    <div
      class="info-button-child info-button-left text-left q-px-md q-pt-sm q-pb-none"
    >
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.body--dark {
  .info-button {
    color: black;
  }
}
</style>
