<template>
  <button
    class="text-white category-btn row wrap justify-between items-center content-center"
    :class="colorClass"
  >
    <div class="category-btn-label text-h7 text-weight-medium">
      {{ data.title }}
      <span class="visually-hidden">{{ data.imageDescription }}</span>
    </div>
    <div class="category-btn-photo" :style="photoBackground"></div>
  </button>
</template>

<script setup>
import { computed } from "vue";
const props = defineProps({
  data: {
    type: Object,
    required: true,
  },
});

const colorClass = computed(() => {
  return `category-${props.data.id}`;
});
const photoBackground = computed(() => {
  return `background-image: url('${props.data.image}')`;
});
</script>

<style scoped lang="scss">
.category-btn {
  border: 0;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  text-align: center;
  user-select: none;
  width: 100%;
}

.category-btn-label {
  width: 100%;
  line-height: 1.5em;
}

.category-btn-photo {
  width: clamp(150px, 50%, 150px);
  background-size: cover;
  background-position: 50% 25%;
  border-radius: 6px;
  height: 122px;
  margin: 6px auto 0;
}

@media (min-width: 350px) {
  .category-btn-label {
    margin-left: 10px;
    text-align: left;
    width: 45%;
  }
  .category-btn-photo {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .category-btn-label {
    // font-size: calc(1.5rem + 0.1vw);
    width: 65%;
  }
  .category-btn-photo {
    width: 30%;
  }
}
</style>
