<template>
  <div class="hero-message" :style="heroBackground">
    <h2 class="text-weight-bold text-center text-white">
      <slot></slot>
    </h2>
  </div>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  image: {
    type: String,
    required: true,
  },
});

const heroBackground = computed(() => {
  return `background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.5) 65%) ,url('${props.image}')`;
});
</script>

<style lang="scss">
.hero-message {
  background-position: center;
  background-size: cover;
  padding: 1em 3em 6em 3em;
}
.hero-message h2 {
  font-size: clamp(26px, 1.3rem, 1.3rem);
  letter-spacing: 1px;
  line-height: 1.5;
}
</style>
