<template>
  <button class="search-bar text-grey-7 row">
    <q-icon size="2rem" name="search" />
    <span class="text-h6 q-ml-sm">Search</span>
  </button>
</template>

<style scoped>
.search-bar {
  border: none;
  border-radius: 8px;
  background-color: #e4e4e4;
  padding: 1em 0.75em 0.65em 0.75em;
  text-align: left;
  width: calc(100% - 2em);
}
</style>
