<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="25"
    height="17"
    fill="none"
    viewBox="0 0 25 17"
  >
    <path
      d="M7.605 1.745 2.428 16H.312L6.273.36h1.365l-.033 1.385ZM11.945 16 6.757 1.745 6.725.36h1.364L14.072 16h-2.127Zm-.268-5.79v1.697H2.89V10.21h8.787Zm10.163 3.803V8.029c0-.458-.093-.856-.28-1.192a1.827 1.827 0 0 0-.816-.795c-.365-.186-.816-.28-1.354-.28-.5 0-.941.087-1.32.259a2.3 2.3 0 0 0-.882.676c-.207.28-.311.58-.311.903H14.89c0-.416.107-.828.322-1.236.215-.408.523-.777.924-1.106a4.618 4.618 0 0 1 1.46-.795c.573-.2 1.21-.3 1.913-.3.845 0 1.59.142 2.234.429.652.286 1.16.72 1.525 1.3.373.573.559 1.292.559 2.159v5.414c0 .387.032.798.097 1.235.071.437.175.813.311 1.128V16h-2.073c-.1-.23-.179-.534-.236-.913a7.363 7.363 0 0 1-.086-1.074Zm.343-5.06.022 1.397h-2.009a7.42 7.42 0 0 0-1.515.14c-.444.085-.816.218-1.117.397-.3.179-.53.404-.687.676a1.795 1.795 0 0 0-.236.935c0 .365.082.698.247 1 .164.3.411.54.74.719.337.172.75.258 1.236.258.609 0 1.146-.13 1.611-.387a3.353 3.353 0 0 0 1.107-.945c.28-.373.43-.735.451-1.085l.849.956c-.05.3-.187.634-.409.999a4.746 4.746 0 0 1-.891 1.052 4.81 4.81 0 0 1-1.31.828c-.502.214-1.068.322-1.698.322-.788 0-1.479-.154-2.073-.462a3.544 3.544 0 0 1-1.375-1.235 3.27 3.27 0 0 1-.483-1.751c0-.623.121-1.171.365-1.644.243-.48.594-.877 1.052-1.192.459-.323 1.01-.566 1.655-.73a8.727 8.727 0 0 1 2.159-.248h2.31Z"
    />
  </svg>
</template>
