<template>
  <q-avatar rounded>
    <q-img
      :src="resource.thumbnail"
      :alt="resource.thumbnailDescription"
      :position="thumbPosition"
      ratio="1"
      no-spinner
      no-transition
      fit="cover"
    >
      <q-icon
        v-if="resource.type === 'video'"
        class="absolute"
        size="2rem"
        name="play_circle"
        color="white"
        style="bottom: 2px; left: 2px"
      >
      </q-icon>
    </q-img>
  </q-avatar>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  resource: {
    type: Object,
    required: true,
  },
});

const thumbPosition = computed(() => {
  let pos;
  if (props.resource.thumbnailPosition) {
    pos = props.resource.thumbnailPosition;
  } else {
    pos = "50% 50%";
  }
  return pos;
});
</script>
