<template>
  <q-item
    clickable
    :class="[
      {
        'q-pl-none': showBorder,
        'q-py-md': !showBorder,
        'q-py-sm': showBorder,
        'q-px-none': noPadding,
      },
    ]"
  >
    <div :class="[{ 'item-border': showBorder }, borderClass]"></div>
    <q-item-section avatar>
      <ItemAvatar :resource="resource" />
    </q-item-section>
    <q-item-section class="text-weight-medium text-subtitle1 line-height-sm">
      <!-- A11y: Video icon -->
      <span v-if="resource.type === 'video'" class="visually-hidden"
        >Video</span
      >
      {{ resource.title }}
    </q-item-section>
    <q-item-section side v-if="deletable">
      <q-btn
        flat
        round
        icon="delete"
        aria-label="Delete"
        @click="$emit('deleteLike', id)"
      />
    </q-item-section>
    <q-icon
      class="absolute"
      v-if="showLike"
      size="32px"
      name="star"
      color="warning"
      style="top: 6px; right: 6px"
    >
    </q-icon>
  </q-item>
</template>

<script setup>
import { ref, computed, watch } from "vue";
import { useContentStore } from "src/stores/ContentStore";
import { useLikesStore } from "src/stores/LikesStore";
import ItemAvatar from "components/ItemAvatar.vue";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  deletable: {
    type: Boolean,
    required: false,
  },
  showBorder: {
    type: Boolean,
    required: false,
  },
  showLike: {
    type: Boolean,
    required: false,
  },
  noPadding: {
    type: Boolean,
    required: false,
  },
});

const emit = defineEmits(["deleteLike"]);
const contentStore = useContentStore();
const likesStore = useLikesStore();

const userLikes = computed(() => likesStore.getLikes);
likesStore.loadLikes();

const resource = contentStore.getResource(props.id);
const liked = ref(false);

watch(userLikes, async (newLikes) => {
  const isLiked = likesStore.isLiked(props.id);
  liked.value = isLiked;
});

const borderClass = computed(() => {
  const catId = props.id.split("-")[0];
  return `item-border-${catId}`;
});
</script>
