<template>
  <q-img :src="props.image" :alt="imageDescription" no-spinner />
  <div v-html="props.text" class="q-py-md q-mb-none text-body1"></div>
</template>

<script setup>
const props = defineProps({
  image: {
    type: String,
    required: true,
  },
  imageDescription: {
    type: String,
    required: true,
  },
  text: {
    type: String,
    required: true,
  },
});
</script>
