<template>
  <q-item clickable class="q-py-md">
    <q-item-section>
      <div class="text-weight-medium text-subtitle1">
        {{ introResource.title }}
      </div>
      <div class="text-body2 resource-list-item-detail">
        <span v-if="resourceListItems.length === 1"
          >There is <strong>1</strong> related resource in this group</span
        >
        <span v-if="resourceListItems.length > 1"
          >There are <strong>{{ resourceListItems.length }}</strong> related
          resources in this group</span
        >
      </div>
    </q-item-section>
    <q-item-section side>
      <q-icon name="chevron_right" size="lg" color="grey-9" />
    </q-item-section>
  </q-item>
</template>

<script setup>
import { useContentStore } from "src/stores/ContentStore";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
});

const contentStore = useContentStore();
const resourceList = contentStore.getResourceList(props.id);
const introResource = contentStore.getResource(resourceList.introItem);
const resourceListItems = resourceList.list.items;
</script>
