<template>
  <div style="text-align: center">
    <q-img
      style="max-width: 1100px"
      :src="resource.thumbnail"
      :alt="resource.thumbnailDescription"
      :ratio="3 / 2"
      placeholder-src="/images/resource-fpo.png"
    />
  </div>
  <div
    v-html="resource.content.text"
    class="q-mt-md text-body1"
    :class="bottomPadding"
    @click="handleLink($event)"
  ></div>

  <!-- Audio button -->
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <q-page-sticky
      v-if="resource.content.media"
      position="bottom"
      :offset="[0, 24]"
    >
      <q-btn
        v-if="!hideAudioBtn"
        fab
        color="primary"
        class="shadow-4"
        aria-label="Audio controls"
        @click="openAudio()"
        style="border-radius: 50px"
      >
        <q-icon name="volume_up" size="2rem" />
      </q-btn>
    </q-page-sticky>
  </transition>

  <!-- Audio player -->
  <transition
    appear
    enter-active-class="animated fadeInUp"
    leave-active-class="animated fadeOutDown"
  >
    <AudioPanel
      @hide="dialogAudio = false"
      v-show="dialogAudio"
      :show="dialogAudio"
      class="fixed-bottom"
      :audioUrl="props.resource.content.media"
      style="z-index: 10000"
    />
  </transition>

  <!-- Theme adjuster -->
  <transition
    appear
    enter-active-class="animated fadeInUp"
    leave-active-class="animated fadeOutDown"
  >
    <ThemePanel
      @hide="showThemePanel = false"
      v-show="showThemePanel"
      :show="showThemePanel"
      textSelector=".article"
      class="fixed-bottom"
      style="z-index: 10000"
    />
  </transition>
</template>

<script setup>
import { computed, ref } from "vue";
import { useQuasar } from "quasar";
import AudioPanel from "components/AudioPanel.vue";
import ThemePanel from "components/ThemePanel.vue";
import { useUserStore } from "stores/UserStore";

const userStore = useUserStore();
const showThemePanel = computed({
  get() {
    return userStore.getShowThemePanel;
  },
  set(newValue) {
    userStore.showThemePanel = newValue;
  },
});

const $q = useQuasar();

const props = defineProps({
  resource: {
    type: Object,
    required: true,
  },
  hideAudioBtn: {
    type: Boolean,
    required: false,
    default: false,
  },
});

const bottomPadding = computed(() => {
  return props.resource.content.media && !props.hideAudioBtn
    ? "xl-bottom-padding"
    : "q-pb-lg";
});

// Audio
const dialogAudio = ref(false);
const openAudio = () => {
  dialogAudio.value = true;
};

// Links
const handleLink = (e) => {
  e.preventDefault();
  const isAnchorTag = isAnchor(e.target.outerHTML);
  const linkUrl = e.target.toString();
  if (isAnchorTag && $q.platform.is.ios) {
    // openURL(linkUrl, "_system");
    window.cordova.InAppBrowser.open(linkUrl, "_system"); // Opening in Safari
  } else if (isAnchorTag && $q.platform.is.android) {
    window.open(linkUrl);
    // openURL(linkUrl);
  }
};

const isAnchor = (str) => {
  if (str.indexOf("href") > -1 && str.indexOf("</a>") > -1) {
    return true;
  } else {
    return false;
  }
};
</script>
