<template>
  <div>
    <div class="text-white q-px-md q-py-lg" :class="bgClass">
      <p class="text-body1">Category {{ number }}:</p>
      <h2 class="text-h3 q-my-none">{{ title }}</h2>
    </div>
    <div v-for="(resource, index) in resources" :key="resource.id">
      <hr v-if="index > 0" />

      <!-- Icon: article/video -->
      <div v-if="resource.type === 'article'" class="q-ml-md q-mt-md">
        <q-icon size="32px" name="article" />
      </div>
      <div v-if="resource.type === 'video'" class="q-ml-md q-mt-md">
        <q-icon
          size="32px"
          name="play_circle"
          color="red"
          class="cursor-pointer"
          @click="
            $router.push({ name: 'resource', params: { id: resource.id } })
          "
        />
      </div>

      <!-- ID badge -->
      <q-badge class="q-ml-md q-mb-sm q-mt-md q-pa-sm" :class="bgClass"
        >id: {{ resource.id }}, type: {{ resource.type }}</q-badge
      >

      <!-- Resource title -->
      <h3 class="text-h4 q-px-md q-mt-sm q-mb-md">{{ resource.title }}</h3>

      <!-- Resource content -->
      <ResourceArticle
        v-if="resource.type == 'article'"
        :resource="resource"
        :hideAudioBtn="true"
      />
      <ResourceVideo
        v-if="resource.type == 'video'"
        :resource="resource"
        :showTranscriptOnly="true"
      />
    </div>
  </div>
</template>

<script setup>
import ResourceArticle from "components/ResourceArticle.vue";
import ResourceVideo from "components/ResourceVideo.vue";

const props = defineProps({
  resources: {
    type: Object,
    required: true,
  },
  title: {
    type: String,
    required: true,
  },
  number: {
    type: String,
    required: true,
  },
  bgClass: {
    type: String,
    required: true,
  },
});
</script>

<style scoped>
.q-badge {
  font-size: 1rem;
  letter-spacing: 1px;
}
</style>
