<template>
  <q-img
    v-if="showTranscriptOnly"
    :src="resource.thumbnail"
    :alt="resource.thumbnailDescription"
    :ratio="3 / 2"
    placeholder-src="/images/resource-fpo.png"
  />

  <VideoPlayer
    v-if="!showTranscriptOnly"
    :videoId="resource.content.media"
    :videoTitle="resource.title"
  />
  <div class="q-px-md orientation-portrait">
    <q-btn
      v-if="!showTranscriptOnly"
      @click="toggleTranscript"
      color="primary"
      style="width: 100%"
    >
      {{ transcriptBtnLabel }}
    </q-btn>
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut"
    >
      <div class="transcript" v-if="showTranscript">
        <p v-if="showTranscriptOnly" class="text-h5 q-mt-md">
          Video transcript:
        </p>
        <div
          v-html="resource.content.text"
          class="q-mt-md q-pb-md text-body1"
        ></div>
      </div>
    </transition>
  </div>

  <!-- Theme adjuster -->
  <transition
    appear
    enter-active-class="animated fadeInUp"
    leave-active-class="animated fadeOutDown"
  >
    <ThemePanel
      @hide="showThemePanel = false"
      v-show="showThemePanel"
      :show="showThemePanel"
      textSelector=".transcript"
      class="fixed-bottom"
      style="z-index: 10000"
    />
  </transition>
</template>

<script setup>
import { computed, ref, watch, onMounted } from "vue";
import VideoPlayer from "components/VideoPlayer.vue";
import ThemePanel from "components/ThemePanel.vue";
import { useUserStore } from "stores/UserStore";

// Orientation control: allow user rotate
screen.orientation.unlock();

const props = defineProps({
  resource: {
    type: Object,
    required: true,
  },
  showTranscriptOnly: {
    type: Boolean,
    required: false,
    default: false,
  },
});

const userStore = useUserStore();
const showThemePanel = computed({
  get() {
    return userStore.getShowThemePanel;
  },
  set(newValue) {
    userStore.showThemePanel = newValue;
  },
});

const showTranscript = ref(false);
const transcriptBtnLabel = ref("Show Transcript");

const toggleTranscript = () => {
  showTranscript.value = !showTranscript.value;
  if (showTranscript.value) {
    transcriptBtnLabel.value = "Hide Transcript";
  } else {
    transcriptBtnLabel.value = "Show Transcript";
  }
};

const adjustSize = (val) => {
  const el = document.querySelector(".transcript");
  if (el != null) {
    const size = `size${val}`;
    el.classList.remove("size1", "size2", "size3", "size4");
    el.classList.add(size);
  }
};

// Text size
watch(showTranscript, (newVal) => {
  setTimeout(() => {
    adjustSize(userStore.textSize);
  }, 50);
});

onMounted(() => {
  if (props.showTranscriptOnly) {
    showTranscript.value = true;
  }
});
</script>
