<template>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted } from "vue";

onMounted(() => {
  window.addEventListener("scroll", handleScroll);
  handleTimeout();
});
onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll);
});

const handleTimeout = () => {
  setTimeout(() => {
    handleScroll();
  }, 50);
};

function handleScroll() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height =
    document.documentElement.scrollHeight -
    document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;

  // For screens that have no scrolling
  if (height == 0) {
    scrolled = 100;
  }

  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>

<style lang="scss">
.progress-container {
  height: 8px;
  background: #ccc;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}

.progress-bar {
  height: 8px;
  background: $primary;
  width: 0%;
}
</style>
