<template>
  <q-item clickable class="q-py-sm q-pl-none">
    <div class="item-border" :class="borderClass"></div>
    <q-item-section avatar>
      <ItemAvatar :resource="resource" />
    </q-item-section>
    <q-item-section>
      <span v-if="resource.type === 'video'" class="visually-hidden"
        >Video</span
      >
      <div class="text-weight-medium text-subtitle1 line-height-sm">
        {{ resource.title }}
      </div>
      <div
        class="text-body2 ellipsis-3-lines resource-list-item-detail"
        v-html="markedText"
      ></div>
    </q-item-section>
  </q-item>
</template>

<script setup>
import { ref, computed, watch } from "vue";
import { useContentStore } from "src/stores/ContentStore";
import { useTextFromHTML } from "src/use/useTextFromHTML";
import ItemAvatar from "components/ItemAvatar.vue";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  title: {
    type: String,
    required: false,
  },
  search: {
    type: String,
    required: true,
  },
});

const contentStore = useContentStore();
const resource = contentStore.getResource(props.id);
const distanceToSearch = 15;

// Create raw text version of resource's HTML
const rawText = useTextFromHTML(resource.content.text);

// Create shortened text, focused around the search query
let shortenedText = shortenString(rawText, props.search, distanceToSearch);

// Create marked text (to highlight the searched text)
const markedText = ref(addMarkToText(shortenedText, props.search));

watch(
  () => props.search,
  (newSearch) => {
    // Fix issue where text doesn't re-render when search turns into a more speecific word
    shortenedText = shortenString(rawText, props.search, distanceToSearch);

    // Update marked text
    markedText.value = addMarkToText(shortenedText, newSearch);
  }
);

function shortenString(str, search, distanceToSearch) {
  const searchQueryIndex = str.toLowerCase().indexOf(search);

  if (searchQueryIndex > distanceToSearch) {
    const sliceIndex = searchQueryIndex - distanceToSearch;
    let strNew = backupToPreviousSpace(str, sliceIndex);
    if (strNew == undefined) {
      // Fix issue
      strNew = str;
    }
    return strNew;
  } else {
    return str;
  }
}

function addMarkToText(text, search) {
  if (text == undefined) return text;
  const searchStart = text.toLowerCase().indexOf(search);
  const searchEnd = searchStart + search.length;
  if (searchStart == -1) return text;

  const markedText =
    text.slice(0, searchStart) +
    "<mark class='match-mark'>" +
    text.slice(searchStart, searchEnd) +
    "</mark>" +
    text.slice(searchEnd);
  return markedText;
}

function backupToPreviousSpace(str, sliceIndex) {
  for (let i = sliceIndex; i > 0; i--) {
    if (str.charAt(i) === " ") {
      const strNew = "..." + str.slice(i + 1);
      return strNew;
    }
  }
}

const borderClass = computed(() => {
  const catId = props.id.split("-")[0];
  return `item-border-${catId}`;
});
</script>
