<template>
  <div class="section-heading q-px-md q-pt-md q-pb-sm">
    <p class="text-body2 text-grey-4 q-ma-none">Section {{ section }} of 8</p>
    <p class="text-h6 q-ma-none">{{ title }}</p>
  </div>
</template>

<script setup>
import { ref } from "vue";
const props = defineProps({
  section: {
    type: String,
    required: true,
  },
  title: {
    type: String,
    required: true,
  },
});
const tab = ref(props.tab);
</script>

<style lang="scss">
@media print {
  .section-heading {
    border-bottom: 3px solid black;
    background-color: white;
    color: black;
  }
}
</style>
