<template>
  <nav aria-label="breadcrumbs" class="q-mt-sm q-mb-md">
    <ol class="q-pa-none q-ma-none">
      <li
        v-for="(crumb, index) in crumbs"
        :key="crumb.title"
        class="breadcrumb-item"
        style="line-height: 2"
      >
        <router-link
          style="text-decoration: none"
          class="text-white q-mr-sm"
          :to="createRouterLink(crumb.location)"
          >{{ crumb.title }}</router-link
        >
        <q-icon
          v-if="index < crumbs.length - 1"
          size="1.5em"
          name="chevron_right"
          color="white"
          class="q-mr-sm"
        />
      </li>
    </ol>
  </nav>
</template>

<script setup>
import { computed } from "vue";
import { useRouter } from "vue-router";
import { useContentStore } from "stores/ContentStore";

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
});

const router = useRouter();
const contentStore = useContentStore();

let locations = [];
locations = props.id.split("-");
const lastCrumb = locations.pop();

const isResource = lastCrumb.charAt(0) === "r";
let listTitle = null;

const getListTitle = (id) => {
  const list = contentStore.getResourceList(id);
  return "Turd bullet";
};

const createNestedCrumb = () => {
  if (isResource) {
    listTitle = getListTitle(props.id);
    const parentList = contentStore.getResourceParentList(props.id);
    if (parentList !== undefined) {
      const introItemId = parentList.introItem;
      const resource = contentStore.getResource(introItemId);
      const crumb = {
        location: parentList.id,
        title: resource.title,
      };
      return crumb;
    }
  }
};

const createCrumbs = (locations) => {
  let crumbs = [];
  for (let i = 0; i < locations.length; i++) {
    const arr = locations.slice(0, i + 1);
    const location = arr.join("-");
    let title = "";
    if (i == 0) {
      title = contentStore.getCategory(location).title;
    } else if (i == 1) {
      title = contentStore.getTopic(location).title;
    } else if (i == 2) {
      title = contentStore.getResource(location).title;
    }
    crumbs.push({
      location: location,
      title: title,
    });
  }

  // Check if we add nested crumb
  const nestedCrumb = createNestedCrumb();
  if (nestedCrumb != undefined) {
    crumbs.push({
      location: nestedCrumb.location,
      title: nestedCrumb.title,
    });
  }

  return crumbs;
};
const crumbs = createCrumbs(locations);

const createRouterLink = (location) => {
  let routeTo = "";
  const locArr = location.split("-");
  if (locArr.length == 1) {
    routeTo = `/category/${location}`;
  } else if (locArr.length == 2) {
    routeTo = `/topic/${location}`;
  } else if (locArr.length == 3) {
    routeTo = `/list/${location}`;
  }
  return routeTo;
};

const linkLabel = computed(() => {
  return "";
});
</script>
