<template>
  <q-footer bordered>
    <q-tabs v-model="tab" dense switch-indicator>
      <q-route-tab
        name="home"
        icon="home_filled"
        label="Home"
        no-caps
        to="/home"
      />
      <q-route-tab
        name="search"
        icon="search"
        label="Search"
        no-caps
        to="/search"
      />
      <q-route-tab
        name="likes"
        icon="star_outline"
        label="Likes"
        no-caps
        to="/user/likes"
      />
      <q-route-tab
        name="info"
        icon="person_outline"
        label="My Info"
        no-caps
        to="/user/my-info"
      />
      <q-route-tab
        name="more"
        icon="menu"
        label="More"
        no-caps
        to="/user/more"
      />
    </q-tabs>
  </q-footer>
</template>

<script setup>
import { ref } from "vue";
const props = defineProps({
  tab: {
    type: String,
    required: true,
  },
});
const tab = ref(props.tab);
</script>
