<template>
  <div class="theme-panel">
    <q-card class="theme-panel-card" style="z-index: 1000">
      <!-- Text size -->
      <q-card-section class="q-pt-sm q-pb-none">
        <ThemeTextSize :textSelector="props.textSelector" />
      </q-card-section>

      <!-- Display theme -->
      <q-card-section class="q-pt-none">
        <ThemeDisplayMode />
      </q-card-section>

      <q-card-section class="q-pb-xs">
        <q-separator />
        <div class="text-center q-my-xs q-mb-none q-mt-sm">
          <q-btn
            flat
            label="Close"
            size="1.125rem"
            class="full-width"
            @click="$emit('hide')"
          />
        </div>
      </q-card-section>
    </q-card>
    <div
      class="fullscreen fade-in-panel-bg"
      style="z-index: 900"
      @click="$emit('hide')"
    ></div>
  </div>
</template>

<script setup>
import { watch } from "vue";
import ThemeTextSize from "components/ThemeTextSize.vue";
import ThemeDisplayMode from "components/ThemeDisplayMode.vue";

const props = defineProps({
  show: {
    type: Boolean,
    required: true,
  },
  textSelector: {
    type: String,
    required: true,
  },
});

let topPosition = 0;
const emit = defineEmits(["hide"]);

// Watch props.show to handle scrolling
watch(
  () => props.show,
  (newShow) => {
    if (newShow) {
      // Opened > Stop body scrolling
      topPosition = document.body.getBoundingClientRect().y;
      document.body.classList.add(
        "q-body--force-scrollbar-y",
        "q-body--prevent-scroll"
      );
      document.body.style.top = `${topPosition}px`;
    } else {
      // Closed > Resume body scrolling
      document.body.removeAttribute("style");
      document.body.classList.remove(
        "q-body--force-scrollbar-y",
        "q-body--prevent-scroll"
      );
      window.scrollTo(0, Math.abs(topPosition));
    }
  }
);
</script>
