<template>
  <div class="row q-pr-md">
    <div class="col column justify-center q-pb-sm">
      <q-btn
        flat
        round
        size="md"
        aria-label="Smaller text"
        @click="adjustSlider(-1)"
      >
        <q-icon color="accent" size="1.25rem">
          <IconAa class="svg-icon" />
        </q-icon>
      </q-btn>
    </div>
    <div class="col-10">
      <div class="q-py-md q-px-lg q-ml-sm">
        <q-slider
          v-model="userStore.textSize"
          thumb-size="26px"
          :min="1"
          :max="4"
          :step="1"
          snap
        />
      </div>
    </div>
    <div class="col column justify-center q-pb-sm">
      <q-btn
        flat
        round
        size="md"
        aria-label="Larger text"
        @click="adjustSlider(1)"
      >
        <q-icon color="accent" size="1.875rem">
          <IconAa class="svg-icon" />
        </q-icon>
      </q-btn>
    </div>
  </div>
</template>

<script setup>
import { watch, onMounted } from "vue";
import { useUserStore } from "stores/UserStore";
import IconAa from "components/IconAa.vue";
import { setGlobalTextSize } from "../utils/util";

const props = defineProps({
  textSelector: {
    type: String,
    required: true,
  },
});

const userStore = useUserStore();

// Text size
const adjustSlider = (dir) => {
  if (dir === 1 && userStore.textSize < 4) {
    userStore.textSize++;
  } else if (dir === -1 && userStore.textSize > 1) {
    userStore.textSize--;
  }
};

// Text size
const adjustSize = (val) => {
  const el = document.querySelector(props.textSelector); // ".article" or ".transcript"

  if (props.textSelector === ".article") {
    const size = `size${val}`;
    el.classList.remove("size1", "size2", "size3", "size4");
    el.classList.add(size);
  }

  if (props.textSelector === ".transcript") {
    if (el != null) {
      const size = `size${val}`;
      el.classList.remove("size1", "size2", "size3", "size4");
      el.classList.add(size);
    }
  }

  // Set .html font-size - experimental only (2022-08-06)
  setGlobalTextSize(val);
};

watch(
  () => userStore.textSize,
  (textSize) => {
    adjustSize(textSize);
    userStore.saveSettings();
  }
);

onMounted(() => {
  userStore.loadSettings();
  adjustSize(userStore.textSize);
});
</script>
