<template>
  <q-btn-toggle
    v-model="themeMode"
    spread
    color="white"
    toggle-color="primary"
    text-color="black"
    :options="[
      { slot: 'light', value: 'light' },
      { slot: 'dark', value: 'dark' },
    ]"
  >
    <template v-slot:light>
      <div class="row">
        <q-icon name="light_mode" class="q-mr-md" />
        <div class="text-center">Light</div>
      </div>
    </template>

    <template v-slot:dark>
      <div class="row">
        <q-icon name="mode_night" class="q-mr-md" />
        <div class="text-center">Dark</div>
      </div>
    </template>
  </q-btn-toggle>
</template>

<script setup>
import { ref, watch, onMounted } from "vue";
import { useUserStore } from "stores/UserStore";
import { useQuasar } from "quasar";

// Theme mode
const userStore = useUserStore();
const $q = useQuasar();
const themeMode = ref("light");

watch(themeMode, (themeMode) => {
  const bool = themeMode === "dark" ? true : false;
  $q.dark.set(bool);
  userStore.themeMode = themeMode;
  userStore.saveSettings();
});

onMounted(() => {
  themeMode.value = userStore.getThemeMode;
});
</script>
