<template>
  <q-item clickable>
    <q-item-section class="text-weight-medium text-subtitle1">
      {{ data.title }}</q-item-section
    >
    <q-item-section side>
      <q-icon name="chevron_right" size="lg" />
    </q-item-section>
  </q-item>
</template>

<script setup>
const props = defineProps({
  data: {
    type: Object,
    required: true,
  },
});
</script>
