<template>
  <div class="video-container">
    <iframe
      class="video"
      :title="props.videoTitle"
      :src="fullURL"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script setup>
import { onMounted } from "vue";

const props = defineProps({
  videoId: {
    type: String,
    required: true,
  },
  videoTitle: {
    type: String,
    required: true,
  },
});

const baseURL = "https://www.youtube-nocookie.com/embed/";
const params = "?modestbranding=1&autoplay=1&rel=0&controls=1&cc_load_policy=1";
const fullURL = `${baseURL}${props.videoId}${params}`;

onMounted(() => {
  // Set a style in the iframe
  const doc = document.querySelector("iframe");
  doc.contentDocument.body.style.backgroundColor = "black";

  // Create a style element in the iframe
  var style = doc.contentDocument.createElement("style");
  doc.contentDocument.head.appendChild(style);
  style.sheet.insertRule(".ytpCaptions { color: red !important; }", 0);
});
</script>

<style>
.video-container {
  position: relative;
  height: 0;
  max-width: 100%;
  margin-bottom: 1em;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Portrait orientation */
@media screen and (orientation: portrait) {
  .video-container {
    padding-bottom: 56.25%;
  }
  .video {
    height: 100%;
  }
}
/* Landscape orientation */
@media screen and (orientation: landscape) {
  body:has(.video-container) {
    /* Prevent scrolling from bottom of screen */
    overflow: hidden;
  }
  .video-container {
    padding-bottom: 100vh;
    background-color: black;
  }
  .video {
    height: 98vh;
  }
}
</style>
