// App global css in SCSS form
html {
  font-size: 16px; // orig: 16px;
}

.text-md {
  font-size: 1.125rem;
}
.text-h7 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.0125em;
}

// Other text size increases
// --------------------------------
.q-toolbar__title {
  font-size: clamp(21px, 1.2rem, 1.2rem); // orig: 21px;
}
.text-body2 {
  font-size: 0.875rem; // orig: 0.875rem;
}
.text-subtitle1 {
  font-size: 1rem; // orig: 1rem;
}
.q-tab__content {
  // Add spacing between tab icons & the top line
  padding-top: clamp(12px, 0.7rem, 16px);
}
.q-tab__label {
  font-size: clamp(16px, 0.875rem, 0.875rem); // orig: 14px;
}
.q-tab__icon,
.q-item__section--side > .q-icon {
  font-size: clamp(24px, 1.2rem, 1.2rem); // orig: 24px;
}

.q-btn {
  font-size: 0.875rem; // orig: 14px;
}

.q-btn--fab .q-icon,
.q-btn--fab-mini .q-icon {
  font-size: clamp(24px, 1.5rem, 1.5rem); // orig: 24px;
}

.q-field {
  font-size: 0.875rem; // orig: 14px;
}
.q-field__label {
  font-size: 0.875rem; // orig: 14px;
  line-height: 1.4 !important; // orig: 20px
}
.q-field__control {
  height: clamp(56px, 2.4rem, 2.4rem); // orig: 56px
}
.q-item__label {
  line-height: 1.4 !important; // orig: 1.2
}
.q-textarea .q-field__native {
  line-height: 1.2rem; // orig: 18px
}
.q-btn__lefter > .q-btn__content {
  // Fix text that gets centered if wrapping
  text-align: left;
}

// Radio options
.q-radio__label {
  font-size: 1rem;
}
.q-radio__inner {
  font-size: 2rem; // radio circle size
}

// Letter spacing
.letter-spacing-xs {
  letter-spacing: 0.5px;
}

.header-padding {
  // This helps me get 56px exactly for likes/info/more screens
  padding-top: 10px;
  padding-bottom: 10px;
}

.letter-spacing-sm {
  letter-spacing: 1px;
}

// Home screen > category button gradients
.category-c1 {
  background: linear-gradient(180deg, $category1 0%, $category1Dark 100%);
}
.category-c2 {
  background: linear-gradient(180deg, $category2 0%, $category2Dark 100%);
}
.category-c3 {
  background: linear-gradient(180deg, $category3 0%, $category3Dark 100%);
}
.category-c4 {
  background: linear-gradient(180deg, $category4 0%, $category4Dark 100%);
}
.category-c5 {
  background: linear-gradient(180deg, $category5 0%, $category5Dark 100%);
}
.category-c6 {
  background: linear-gradient(180deg, $category6 0%, $category6Dark 100%);
}

// Category header gradients
.bg-category-1 {
  background: linear-gradient(180deg, $category1 0%, $category1Dark 100%);
}
.bg-category-2 {
  background: linear-gradient(180deg, $category2 0%, $category2Dark 100%);
}
.bg-category-3 {
  background: linear-gradient(180deg, $category3 0%, $category3Dark 100%);
}
.bg-category-4 {
  background: linear-gradient(180deg, $category4 0%, $category4Dark 100%);
}
.bg-category-5 {
  background: linear-gradient(180deg, $category5 0%, $category5Dark 100%);
}
.bg-category-6 {
  background: linear-gradient(180deg, $category6 0%, $category6Dark 100%);
}

// Category grid, for iPad in landscape orientation to show 2-col layout
@media screen and (min-width: 768px) {
  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-column-gap: 0.5rem;
  }

  .text-h7 {
    font-size: 1.15rem;
  }
}

// Item borders (in lists of search items, liked items)
.item-border {
  border-left: 7px solid;
  padding-left: 9px;
}
.item-border-c1 {
  border-color: $category1;
}
.item-border-c2 {
  border-color: $category2;
}
.item-border-c3 {
  border-color: $category3;
}
.item-border-c4 {
  border-color: $category4;
}
.item-border-c5 {
  border-color: $category5;
}
.item-border-c6 {
  border-color: $category6;
}

.line-height-sm {
  line-height: 1.4;
}

.text-caption {
  font-size: 0.85rem;
}

.text-body-lrg {
  font-size: 1.125rem;
}

body {
  color: $grey-10;
}

// Quasar component style overrides
// --------------------------------

// Max width for a simple approach to wide screen layouts
body,
.q-header,
.q-footer {
  // max-width: 900px;
  // margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .q-tabs__content--align-center {
    justify-content: space-around;
  }
}

// Bottom navbar
.q-tab {
  padding: 0 8px; // orig: 0 16px;
}
.q-tab--active {
  color: $secondary;
}

// Footer padding for iOS
body.cordova .q-footer {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// List items
.q-item {
  min-height: 68px;

  // Set max width & center
  max-width: $maxTabletColWidth;
  margin: 0 auto;

  // Set padding to handle text increase
  padding: 0.55rem 16px; // orig: 8px 16px
}

// Breadcrumbs
.q-breadcrumbs__separator {
  margin-top: 7px;
}

// Avatar (for listing resources in a topic screen)
.q-item__section--side > .q-avatar {
  font-size: 5rem; // project orig: 80px
}
.rounded-borders {
  border-radius: 8px;
}

// q-table
.q-table th {
  font-size: 1rem;
}
.q-table tbody td {
  font-size: 0.875rem; // orig: 14px;
}
.text-body-lg {
  font-size: 1.125rem;
}

.resource-thumb {
  object-fit: cover;
}

// Custom component
.breadcrumb-item {
  font-size: 0.875rem;
  list-style-type: none;
  display: inline-block;
}

// Article and video/transcript styles
// --------------------------------
.article > p:last-of-type {
  margin-bottom: 0;
}

// Dialog
.q-dialog__message {
  font-size: 1rem;
}

// Resource styles: Article
// --------------------------------
.xl-bottom-padding {
  padding-bottom: 6em;
}
.xxl-bottom-padding {
  padding-bottom: 7.5em;
}
.article {
  // Set max width & center
  max-width: $maxTabletColWidth;
  margin: 0 auto;
}
.article h2,
.article h3,
.article h4 {
  font-weight: 700;
  letter-spacing: 0.0125em;
}
.article h2 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.article h3 {
  font-size: 1.15rem;
  line-height: 1.6rem;
}
.article h4 {
  font-size: 1.15rem;
  line-height: 1.6rem;
}
.article li {
  margin-bottom: 0.5em;
}
.article blockquote {
  border-left: 3px solid $primary;
  font-style: italic;
  font-weight: 500;
  padding: 0.25em 1em;
  margin: 2em 1.5em 2em 1.25em;
  line-height: 1.6;
}
.article img {
  width: 100%;
}
.article h2,
.article h3,
.article h4,
.article p {
  padding-left: 16px;
  padding-right: 16px;
}
.article ul {
  margin-left: 0px;
  margin-right: 16px;
}
.article li {
  padding-right: 16px;
}
.article ul li::marker {
  font-size: 1.25em;
}

.article-inset {
  padding-left: 16px;
  padding-right: 16px;
}
.article-inset img {
  box-shadow: $shadow-7;
}

.article .grid-list {
  margin-top: 1em;
  margin-left: 8px;
  margin-right: 8px;
}
.article .grid-list ul {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.article .grid-list li {
  font-weight: 500;
  margin: 0;
  padding: 0.2rem 0.5rem;
  word-break: break-word;
}
.article .detail-pair {
  border-left: 4px solid $secondary;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.article .detail-pair > .detail-indent {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-weight: bold;
}

// Resource styles: Video
// --------------------------------
.transcript h2 {
  // color: $grey-10;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0125em;
}

.transcript-speaker {
  // color: #111;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0;
  margin-right: 2px;
}

// MA
.section {
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 100%;
}
.info-button-child {
  height: 100%;
}
.info-button-left {
  border-radius: 10px 0 0 10px;
  flex: 8;
}
.info-button-right {
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}
.info-button-right .q-icon {
  font-size: 3rem; // orig: 54px;
}

// Theme coloring (light/dark)
//---------------------------------
// LIGHT
.body--light {
  .search-header {
    background-color: white;
  }
  .home-header {
    background-color: white;
  }
  .q-page {
    background-color: $grey-2;
  }
  .q-item {
    background-color: white;
  }
  .resource-list-item-detail {
    color: $grey-9;
  }
  .q-footer {
    color: $grey-10;
    background-color: $grey-1;
  }
  // SVG icon
  .svg-icon {
    fill: $grey-10;
  }

  .theme-panel {
    .theme-panel-card {
      background-color: $grey-4;
    }
  }

  // Article grid items
  .article .grid-list li {
    background-color: $grey-3;
  }

  // Search
  .match-mark {
    background-color: $blue-8;
    color: #fff;
  }

  // MA
  .section-heading {
    background-color: $grey-10;
    color: white;
  }
  .section {
    background-color: white;
  }
  .ma-note {
    color: $primary;
  }

  .info-button {
    background-color: #fff;
    color: $grey-10;
  }
  .last-updated {
    color: $primary;
  }

  .bg-primary {
    background: var(--q-primary) !important;
  }

  // Note
  .text-note {
    color: $red-8;
  }
}

// DARK
.body--dark {
  .search-header {
    background-color: var(--q-dark-page);
  }
  .home-header {
    background-color: var(--q-dark-page);
  }
  .q-page {
    background-color: var(--q-dark-page);
  }
  .q-item {
    background-color: $grey-10;
  }
  .resource-list-item-detail {
    color: $grey-5;
  }
  .q-footer {
    color: $grey-5;
    background-color: $grey-10;
  }
  .q-tab--active {
    color: $grey-3;
  }
  // SVG icon
  .svg-icon {
    fill: $grey-4;
  }

  .transcript-speaker {
    color: $yellow-6;
  }

  .theme-panel {
    .theme-panel-card {
      background-color: $grey-10;
    }
  }

  // Article grid items
  .article .grid-list li {
    background-color: $grey-9;
  }

  // Article detail
  .article .detail-pair > .detail-indent {
    font-weight: normal;
    color: $yellow-6;
  }

  // Search
  .match-mark {
    background-color: $yellow-6;
    color: black;
  }

  // MA
  .section-heading {
    background-color: $blue-10;
    color: white;
  }
  .section {
    background-color: $darkPanel;
  }
  .ma-note {
    color: $yellow-6;
  }
  .info-button {
    background-color: $darkPanel;
    color: white;
  }
  .last-updated {
    color: $yellow-6;
  }
  // MA radios
  .q-radio--dark .q-radio__inner--truthy {
    color: $primaryOnDark;
  }
  // Focused/highlighted fields
  .q-field__control {
    color: $yellow-6;
  }

  // Slider
  .q-slider__track,
  .q-slider__thumb {
    color: $primaryOnDark;
  }

  .q-card--dark {
    background: $darkPanel !important;
  }

  // Note
  .text-note {
    color: $yellow-6;
  }

  // Links in articles
  .article a {
    color: $blue-4;
  }
}

// Text sizing
// --------------------------------
.article.size1,
.transcript.size1 {
  /* default*/
  font-size: 1rem;
  line-height: 1.6;
}
.article.size2,
.transcript.size2 {
  p,
  li {
    // font-size: 1.25rem;
    font-size: 1.1rem;
    line-height: 1.7;
  }
  ul,
  ol {
    margin-left: 1em;
  }
  h2 {
    // font-size: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }
  h3 {
    // font-size: 1.35rem;
    font-size: 1.15rem;
    line-height: 1.6;
  }
  h4 {
    font-size: 1.15rem;
    line-height: 1.6;
  }
}
.article.size3,
.transcript.size3 {
  p,
  li {
    // font-size: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.7;
  }
  ul,
  ol {
    margin-left: 1em;
  }
  h2 {
    // font-size: 1.7rem;
    font-size: 1.35rem;
    line-height: 1.6;
  }
  h3 {
    // font-size: 1.55rem;
    font-size: 1.25rem;
    line-height: 1.6;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
.article.size4,
.transcript.size4 {
  p,
  li {
    // font-size: 1.75rem;
    font-size: 1.3rem;
    line-height: 1.8;
  }
  ul,
  ol {
    margin-left: 1em;
  }
  h2 {
    // font-size: 1.9rem;
    font-size: 1.45rem;
    line-height: 1.6;
  }
  h3 {
    // font-size: 1.75rem;
    font-size: 1.35rem;
    line-height: 1.6;
  }
  h4 {
    font-size: 1.35rem;
    line-height: 1.6;
  }
}

.hr {
  border-top: 1px solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  opacity: 0.3;
}

// UI panel (Audio & Theme panels)
// --------------------------------
.theme-panel {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// Animations
.fade-in-long {
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-panel-bg {
  animation: fadeInPanelBG 1s;
  background-color: rgba(0, 0, 0, 0.4);
}
@keyframes fadeInPanelBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Global HTML elements
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

// Accessibility classes
// --------------------------------
.no-outline:focus {
  outline: 8px red;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Print classes
// --------------------------------
@media print {
  body,
  p,
  .text-body1,
  .text-body2,
  .text-white,
  .text-grey-4,
  .q-field__native {
    color: #222 !important;
  }
  .q-field__label {
    // color: #222;
    font-weight: bold;
  }
  .q-badge {
    color: #000;
  }

  .master-menu,
  .master-buttons,
  header,
  footer {
    display: none;
  }
}
