// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
$primary: #216acc;
$primaryOnDark: #0397ff;
$secondary: #5f5f5f;
$accent: #9c27b0;

$dark: #1d1d1d;
$darkPanel: #313131; // Use instead of grey-9

$positive: #08892f;
$negative: #c10015;
$info: #31ccec;
$warning: #ffd12d;

// Category colors
$category1: #23408f;
$category1Dark: #142c6d;
$category1Light: #2d53b8;

$category2: #7d2d86;
$category2Dark: #681c70;
$category2Light: #a03aac;

$category3: #a40b0b;
$category3Dark: #830303;
$category3Light: #d42828;

$category4: #dd561f;
$category4Dark: #cc3a00;
$category4Light: #ff6a2d;

$category5: #08892f;
$category5Dark: #007022;
$category5Light: #17a943;

$category6: #0093a5;
$category6Dark: #007b8a;
$category6Light: #0bb6cb;

$maxTabletColWidth: 900px;
