<template>
  <router-view />
</template>

<script setup>
import { onMounted } from "vue";
import { useUserStore } from "stores/UserStore";
import { useQuasar } from "quasar";
import { setGlobalTextSize } from "./utils/util";

const userStore = useUserStore();

// Set display settings on app load
onMounted(() => {
  userStore.loadSettings();
  const $q = useQuasar();

  // Orientation control: lock to portrait for small screens
  if ($q.screen.width < $q.screen.sizes.sm) {
    screen.orientation.lock("portrait");
  }

  setTimeout(() => {
    // Set global text size
    const textSize = userStore.getTextSize;
    setGlobalTextSize(textSize);

    cordova.plugins.ThemeDetection.isDarkModeEnabled(
      (res) => {
        const themeMode = userStore.getThemeMode;
        if (themeMode === null) {
          // User hasn't set in app yet, check device preference of dark mode
          if (res.value) {
            // Device dark mode enabled, set app to dark mode
            $q.dark.set(true);
            userStore.themeMode = "dark";
          } else {
            userStore.themeMode = "light";
          }
          userStore.saveSettings();
        } else {
          // User has set the mode, or the app already did its first run and set the mode
          const bool = themeMode === "dark" ? true : false;
          $q.dark.set(bool);
        }
      },
      (err) => {
        //console.log("Error when running isDarkModeEnabled  ->", err);
      },
    );
  }, 100);
});
</script>
