<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="q-px-md q-pt-sm" height-hint="98" :class="colorClass">
      <q-toolbar class="q-pl-xs q-pr-none">
        <q-btn
          flat
          round
          color="white"
          icon="arrow_back"
          size="0.9rem"
          style="margin-left: -16px"
          @click="$router.push({ name: 'Home' })"
          aria-label="Back"
        />
      </q-toolbar>
      <ContentHeader>{{ category.title }}</ContentHeader>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { ref, computed } from "vue";
import { useRoute } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import ContentHeader from "components/ContentHeader.vue";
import TheFooter from "components/TheFooter.vue";

const route = useRoute();
const contentStore = useContentStore();
const category = contentStore.getCategory(route.params.id);

const tab = ref("");

const colorClass = computed(() => {
  return `category-${category.id}`;
});
</script>

<style>
.logo {
  max-width: 100%;
  margin-top: 0.75em;
  padding: 0 0.25em;
}
</style>
