<template>
  <q-layout view="hHh LpR fFf">
    <q-header
      class="q-px-md q-pt-sm orientation-portrait"
      :class="colorClass"
      height-hint="98"
    >
      <q-toolbar class="q-pl-xs q-pr-none">
        <q-btn
          flat
          round
          color="white"
          icon="arrow_back"
          size="0.9rem"
          style="margin-left: -16px"
          @click="$router.go(-1)"
          aria-label="Back"
        />
        <q-space></q-space>
        <q-btn
          flat
          round
          size="md"
          aria-label="Adjust text size"
          @click="handleTheme()"
        >
          <q-icon color="accent" size="1.75rem">
            <IconAa fill="#fff" />
          </q-icon>
        </q-btn>
        <q-btn
          flat
          round
          :icon="liked ? 'star' : 'star_border'"
          size="1.25rem"
          :color="liked ? 'warning' : ''"
          @click="handleLike()"
          :aria-pressed="liked ? true : false"
          aria-label="Like"
        />
      </q-toolbar>
      <TheBreadcrumbs :id="route.params.id"></TheBreadcrumbs>
      <ContentHeader>{{ resource.title }}</ContentHeader>
      <!-- <ScrollIndicator v-if="resource.type == 'article'" /> -->
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <TheFooter class="orientation-portrait" />
  </q-layout>
</template>

<script setup>
import { ref, computed, onMounted, onUpdated } from "vue";
import { useRoute } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import { useLikesStore } from "src/stores/LikesStore";
import { useUserStore } from "stores/UserStore";
import ContentHeader from "components/ContentHeader.vue";
import TheBreadcrumbs from "components/TheBreadcrumbs.vue";
import TheFooter from "components/TheFooter.vue";
import IconAa from "components/IconAa.vue";
import ScrollIndicator from "components/ScrollIndicator.vue";

const route = useRoute();
const contentStore = useContentStore();
const likesStore = useLikesStore();
const userStore = useUserStore();
const resource = contentStore.getResource(route.params.id);

const liked = ref(false);

const colorClass = computed(() => {
  const cId = route.params.id.split("-")[0];
  return `category-${cId}`;
});

const isResource = () => {
  const arr = route.params.id.split("-");
};
onMounted(() => {
  isResource();
  const id = route.params.id;
  const isLiked = likesStore.isLiked(id);
  liked.value = isLiked;
});

onUpdated(() => {
  isResource();
});

const handleLike = () => {
  const like = {
    id: route.params.id,
    date: Date.now(),
  };
  likesStore.toggleLike(like);

  const isLiked = likesStore.isLiked(like.id);
  liked.value = isLiked;
};

const handleTheme = () => {
  userStore.showThemePanel = true;
};
</script>

<style>
.likeReposition {
  position: absolute;
  right: -10px;
}
</style>
