<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="q-px-md q-pt-sm" :class="colorClass" height-hint="98">
      <q-toolbar class="q-pl-xs q-pr-none">
        <q-btn
          flat
          round
          color="white"
          icon="arrow_back"
          size="0.9rem"
          style="margin-left: -16px"
          @click="handleRouter"
          aria-label="Back"
        />
      </q-toolbar>
      <TheBreadcrumbs :id="route.params.id"></TheBreadcrumbs>
      <ContentHeader>{{ topic.title }}</ContentHeader>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { ref, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import ContentHeader from "components/ContentHeader.vue";
import TheBreadcrumbs from "components/TheBreadcrumbs.vue";
import TheFooter from "components/TheFooter.vue";

const route = useRoute();
const router = useRouter();
const contentStore = useContentStore();
const topic = contentStore.getTopic(route.params.id);

const tab = ref("");

const colorClass = computed(() => {
  const cId = route.params.id.split("-")[0];
  return `category-${cId}`;
});

const handleRouter = () => {
  const cId = route.params.id.split("-")[0];
  router.push({ name: "category", params: { id: cId } });
};
</script>
