<template>
  <q-layout view="hHh LpR fFf">
    <q-header class="q-px-sm q-py-xs" height-hint="98">
      <q-toolbar class="text-white">
        <q-btn
          flat
          color="white"
          icon="arrow_back"
          size="0.9rem"
          style="margin-left: -16px"
          @click="$router.go(-1)"
          aria-label="Back"
        />
        <q-toolbar-title> {{ layoutTitle }} </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <!-- <router-view /> -->
      <router-view v-slot="{ Component }">
        <transition enter-active-class="animated fadeIn">
          <component :is="Component" />
        </transition>
      </router-view>
    </q-page-container>

    <TheFooter tab="" />
  </q-layout>
</template>

<script setup>
import { ref, computed, onUpdated, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useContentStore } from "src/stores/ContentStore";
import ContentHeader from "components/ContentHeader.vue";
import TheBreadcrumbs from "components/TheBreadcrumbs.vue";
import TheFooter from "components/TheFooter.vue";

const route = useRoute();
const router = useRouter();
const contentStore = useContentStore();
const topic = contentStore.getTopic(route.params.id);

const layoutTitle = ref("Title");

const titles = [
  {
    name: "likes",
    title: "Likes",
  },
  {
    name: "My info",
    title: "My Info",
  },
  {
    name: "more",
    title: "More",
  },
  {
    name: "summary",
    title: "Summary",
  },
];

const tab = ref("");

const colorClass = computed(() => {
  const cId = route.params.id.split("-")[0];
  return `category-${cId}`;
});

const handleRouter = () => {
  const cId = route.params.id.split("-")[0];
  router.push({ name: "category", params: { id: cId } });
};

const getTitle = () => {
  // const currentTitle = titles.find((title) => title.name === route.name);
  // layoutTitle.value = currentTitle.title;
  layoutTitle.value = route.name;
};

onMounted(() => {
  getTitle();
});

onUpdated(() => {
  getTitle();
});
</script>
